<div class="wrapper propertyregister">
  <div class="title themeheading">{{title}}
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">MGRY</option>
          </select>
          <label>Scheme</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">Ramnagara</option>
          </select>
          <label>District</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">KHB</option>
          </select>
          <label>Project</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">I</option>
            <option value="2">II</option>
            <option value="3">III</option>
          </select>
          <label>Phase</label>
        </div>
      </div>
    </div>




    <div class="btn-wrapper">
      <button class="btn btn-primary">Go</button>
    </div>
  </div>


  <!-- <div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
      <button class="btn btn-primary">Add</button>
    </div>
  </div> -->


  <div class="table-responsive grid" style="margin-top:15px">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Sl No.</td>
          <td>Survey No.</td>
          <td>Owner.</td>
          <td>Area</td>
          <td>Land Record</td>
          <td>Sale deed</td>
          <td>Khatha</td>
          <td>EC</td>
          <td>RTC</td>
          <td>Validated(Yes/No)</td>
          <td>date</td>
          <td>time</td>
          <td>Validated By</td>
          <td>Legal Section</td>
          <td>View</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center"><input type="checkbox"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href="#">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center"><input type="checkbox"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href="#">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center"><input type="checkbox"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href="#">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>