<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <button class="btn btn-primary float-right" [routerLink]="['/home/joint-venture/jv-exceptence']">Back</button>
    <span class="clearfix"></span>
  </div>


  <form (ngSubmit)="mode=='edit'?UpdateLandPurchase(LandPurchaseForm):UpdateLandPurchase(LandPurchaseForm)"
    #LandPurchaseForm="ngForm" name="form1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <select #JV_PD_Id_FK="ngModel" name="JV_PD_Id_FK" [(ngModel)]="l.JV_PD_Id_FK" class="custom-field" required
              (change)="GetProjectId(l.JV_PD_Id_FK)">
              <option value="undefined">---Select---</option>
              <option *ngFor="let project of projectlist" [value]="project.PD_Id">
                {{project.PD_Project_Code}} - {{project.PD_Project_Name}} - {{project.Phase_Name}}
              </option>
            </select>
            <label>Project Name.<span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_PD_Id_FK.invalid && (JV_PD_Id_FK.dirty || JV_PD_Id_FK.touched || formInvalid)">
              <span *ngIf="JV_PD_Id_FK.errors.required">Project is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <select #JV_Id_PK="ngModel" name="JV_Id_PK" [(ngModel)]="l.JV_Id_PK" class="custom-field" (change)="GetProjectproposaldetails(l.JV_Id_PK)">
              <option value="undefined">---Select---</option>
              <option *ngFor="let agree of Agreementlist" [value]="agree.JV_Id_PK">
                {{agree.JV_Note_No}}
              </option>
            </select>
            <label>Agreement No.<span class="mandatory">*</span>
            </label>
            <!-- <div class="error-msg" *ngIf="LP_PD_Id_FK.invalid && (LP_PD_Id_FK.dirty || LP_PD_Id_FK.touched || formInvalid)">
              <span *ngIf="LP_PD_Id_FK.errors.required">Project is required.</span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Procurement Type : </label><span>{{ProposalFor=='Mix'?'Acquisition/Purchase/Joint
            Ventures':ProposalFor}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Scheme : </label><span>{{Sch_Name}}</span>
        </div>
        <div class="col-md-4">
          <label for="">District : </label><span>{{district}}</span>
        </div>


      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Village : </label><span> {{Village}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Proposal receipt date : </label><span>{{Submitted_Date | date:'dd-MM-yyyy'}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Agreement Number : </label><span>{{Agreement_Number}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label for="">Agreement Date : </label><span> {{Agree_Date | date:'dd-MM-yyyy'}}</span>
        </div>

      </div>



      <div class="table-responsive">
        <table class="table table-striped grid table-bordered">
          <thead>
            <tr>
              <th rowspan="2">Sl.No</th>

              <th rowspan="2"> Land Owner Name </th>
              <th rowspan="2">Survey No</th>
              <th rowspan="2">Procurement Type</th>
              <th rowspan="2">Extent</th>
              <th rowspan="2">Akar</th>
              <th colspan="4" class="text-center">Schedule</th>
              <th rowspan="2">Agreement Status</th>
              <th rowspan="2">JV Status</th>
              <th rowspan="2" class="text-center"> Select </th>
            </tr>
            <tr>
              <th>North</th>
              <th>South</th>
              <th>East</th>
              <th>West</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sur of LandDetailslist;let i=index">
              <td>{{i+1}}</td>
              <td>{{sur.LOD_LO_Name}}</td>
              <td>{{sur.LD_SurveyNo}}</td>
              <td>{{sur.MOP_Name}}</td>
              <td>{{sur.LD_Extents}}</td>
              <td>{{sur.LD_Akar}}</td>
              <td>{{sur.LD_North}}</td>
              <td>{{sur.LD_South}}</td>
              <td>{{sur.LD_East}}</td>
              <td>{{sur.LD_West}}</td>
              <td>{{sur.LD_JVAId_Selected=='1'?'Accepted':''}}</td>
              <td>{{sur.LD_JVPId_Selected=='1'?'Accepted':''}}</td>
              <td class="text-center">
                <button type="button" *ngIf="sur.LD_JVPId_Selected!=1" (click)="selectexculdesurveyno(sur.LD_Id,'in',2,l.JV_PD_Id_FK,l.JV_Id_PK,sur.LOD_Id_PK)">Select
                </button>
                <button type="button" *ngIf="sur.LD_JVPId_Selected==1" (click)="selectexculdesurveyno(sur.LD_Id,'ex',2,l.JV_PD_Id_FK,l.JV_Id_PK,sur.LOD_Id_PK)">Exclude
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <label for="">JV Id <span class="mandatory">*</span></label>
            <input type="text" class="custom-field" [(ngModel)]="l.JV_Purchase_Id" #JV_Purchase_Id="ngModel" name="JV_Purchase_Id"
              required>
            <div class="error-msg" *ngIf="JV_Purchase_Id.invalid && (JV_Purchase_Id.dirty || JV_Purchase_Id.touched || formInvalid)">
              <span *ngIf="JV_Purchase_Id.errors.required">JV Id is required.</span>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="input-group">
            <label for="">JV Date<span class="mandatory">*</span></label>
            <input type="date" class="custom-field" [(ngModel)]="l.JV_Purchase_Date" #JV_Purchase_Date="ngModel" name="JV_Purchase_Date"
              required>
            <div class="error-msg" *ngIf="JV_Purchase_Date.invalid && (JV_Purchase_Date.dirty || JV_Purchase_Date.touched || formInvalid)">
              <span *ngIf="JV_Purchase_Date.errors.required">JV Date is required.</span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="input-group">
            <input [disabled]="mode=='view'" type="date" [(ngModel)]="l.JV_DPC_Date" #JV_DPC_Date="ngModel" name="JV_DPC_Date"
              class="custom-field" required>
            <label for="">DPC Date
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_DPC_Date.invalid && (JV_DPC_Date.dirty || JV_DPC_Date.touched || formInvalid)">
              <span *ngIf="JV_DPC_Date.errors.required">DPC Date is required.</span>
            </div>
          </div>
        </div>


        <div class="col-md-6">

          <!-- <div class="input-group"><input type="date" class="custom-field"><label for="">
          Board Approval Date</label></div> -->

          <div class="input-group">
            <input [disabled]="mode=='view'" type="date" [(ngModel)]="l.JV_BA_Date" #JV_BA_Date="ngModel" name="JV_BA_Date"
              class="custom-field" required>
            <label for="">Board Approval Date
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_BA_Date.invalid && (JV_BA_Date.dirty || JV_BA_Date.touched || formInvalid)">
              <span *ngIf="JV_BA_Date.errors.required">Board Approval Date is required.</span>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- <div class="input-group"><input type="text" class="custom-field"><label for="">
          Govt Order no.</label></div> -->
          <div class="input-group">
            <input [disabled]="mode=='view'" type="text" [(ngModel)]="l.JV_GO_Number" #JV_GO_Number="ngModel" name="JV_GO_Number"
              class="custom-field" required>
            <label for="">Govt Order no.
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_GO_Number.invalid && (JV_GO_Number.dirty || JV_GO_Number.touched || formInvalid)">
              <span *ngIf="JV_GO_Number.errors.required">Govt Order no. is required.</span>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <!-- <div class="input-group"><input type="date" class="custom-field">
          <label for="">Govt Order date</label></div> -->

          <div class="input-group">
            <input [disabled]="mode=='view'" type="date" [(ngModel)]="l.JV_GO_Date" #JV_GO_Date="ngModel" name="JV_GO_Date"
              class="custom-field" required>
            <label for="">Govt Order date
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_GO_Date.invalid && (JV_GO_Date.dirty || JV_GO_Date.touched || formInvalid)">
              <span *ngIf="JV_GO_Date.errors.required">Govt Order date is required.</span>
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- <div class="input-group">
          <input type="text" class="custom-field"><label for="">Extend Purchased</label>
        </div> -->

          <div class="input-group">
            <input [disabled]="mode=='view'" type="text" [(ngModel)]="l.JV_ExtentPurchased" #JV_ExtentPurchased="ngModel"
              name="JV_ExtentPurchased" class="custom-field" required>
            <label for="">Extend Purchased
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_ExtentPurchased.invalid && (JV_ExtentPurchased.dirty || JV_ExtentPurchased.touched || formInvalid)">
              <span *ngIf="JV_ExtentPurchased.errors.required">Extend Purchased is required.</span>
            </div>
          </div>



        </div>
        <div class="col-md-6">
          <!-- <div class="input-group">
          <input type="text" class="custom-field"><label for="">Rate / acre </label>
        </div> -->

          <div class="input-group">
            <input [disabled]="mode=='view'" type="text" [(ngModel)]="l.JV_RateperAcre" #JV_RateperAcre="ngModel" pattern="^[0-9.]*$" name="JV_RateperAcre"
              class="custom-field" required>
            <label for="">Rate / acre
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="JV_RateperAcre.invalid && (JV_RateperAcre.dirty || JV_RateperAcre.touched || formInvalid)">
              <span *ngIf="JV_RateperAcre.errors.required">Rate / acre is required.</span>
              <span *ngIf="JV_RateperAcre.errors.pattern">Rate / acre is invalid.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <textarea [disabled]="mode=='view'" type="text" [(ngModel)]="l.JV_Remarks" #JV_Remarks="ngModel" name="JV_Remarks"
              class="custom-field"></textarea>
            <label for="">Remarks</label></div>
        </div>
        <div class="col-md-5">
          <div class="input-group">
            <input type="file" #Image accept="application/pdf" (change)="imageUpload($event.target.files)" id="JV_Purfile_path"
              [(ngModel)]="l.JV_Purfile_path" #JV_Purfile_path="ngModel" name="JV_Purfile_path">
            <a class="" [hidden]="l.JV_Purfile_path==null" *ngIf="mode=='view' || mode=='edit'" target="_blank" href="{{l.JV_Purfile_path}}">view</a>

          </div>
        </div>
      </div>


      <div class="text-center">
        <button class="btn btn-primary" [disabled]="mode=='view'" type="submit">Save</button>
        <!-- <button class="btn btn-primary" type="button">Cancel</button> -->
        <button class="btn btn-primary" type="reset" [disabled]="mode=='view'">Cancel</button>
      </div>

    </div>
  </form>
</div>