<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">

<div class="draft-wrapper">
    <div class="header">
        <div class="pull-left header">ಕರ್ನಾಟಕ ಗೃಹ ಮಂಡಳಿ</div>
        <div class="pull-right"><img src="" alt=""></div>
        <span class="clearfix"></span>
    </div>


    <div class="note-title">
      <span>ಸಾರ್ವಜನಿಕ ಪ್ರಕಟಣೆ</span>
    </div>

    <div class="details">
      ಕರ್ನಾಟಕ  ಗೃಹ  ಮಂಡಳಿಯು  <span>____________________</span>  ಬಡಾವಣೆಯಲ್ಲಿ  ಎಲ್ಲಾ  ಸಾರ್ವಜನಿಕ  ಸೌಲಭ್ಯಗಳೊಂದಿಗೆ  ವಿವಿಧ  ವರ್ಗದ  ಜನರಿಗೆ  ಅಗತ್ಯಕ್ಕೆ  ಅನುಗುಣವಾಗಿ  ಗುಣಮಟ್ಟದ  ವಿವಿಧ  ವರ್ಗದ  ನಿವೇಶನ  ಯೋಜನೆಗಳನ್ನು  ಅನುಷ್ಠಾನಗೊಳಿಸಿ  ಸಾರ್ವಜನಿಕರಿಗೆ  ಮನೆ / ನಿವೇಶನಗಳ  ಹಂಚಿಕೆಗಾಗಿ ಬೇಡಿಕೆ   ಸಮೀಕ್ಷಯನ್ನು  ದಿನಾಂಕ್    
      <span>____________________</span>  ರಲ್ಲಿ
    </div>



</div>