<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <button class="btn btn-primary float-right" [routerLink]="['/home/leaveapp/time-roll-gen']">Back</button>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <label style="color:blue;" for="">Month/Year</label>
      </div>
      <div class="col-md-4">

        <select class="custom-field" [(ngModel)]="c.code_value1" (change)="ChangeOfmonthyear(c.code_value1)"
        #code_value1="ngModel" name="code_value1" [disabled]="mode=='view' || hide== true" required>
        <option [value]="undefined" selected>---Select---</option>
        <option [value]="r.monthCode" *ngFor="let r of CalendaryearmonthList;">
          {{r.monthCode}}
        </option>
      </select>


      </div>
    </div>
    <div class="row">

      <div class="col-md-1">
        <label style="color:blue;" for="">Division</label>
      </div>

      <div class="col-md-4">       
        <select class="custom-field" [(ngModel)]="c.EMP_DIVISION_ID" #EMP_DIVISION_ID="ngModel"
        name="EMP_DIVISION_ID" (click)="Changeofdivision(c.EMP_DIVISION_ID)"  [disabled]="mode=='view' || hide== true">
        <option [value]="undefined" selected>---Select---</option>
        <option [value]="d.DI_Id" *ngFor="let d of DistrictsList;">
          {{d.DI_District}}
        </option>
      </select>
      </div>

      <!-- <div class="col-md-1">
        <button class="btn btn-primary" (click)="GenTimRoll(c.EMP_DIVISION_ID)">Generate Time Roll</button>
      </div> -->
    </div>


    <div class="row">
      <div class="col-md-1">
        <label style="color:blue;" for="">Designation</label>
      </div>
      <div class="col-md-4">

        <select class="custom-field" [(ngModel)]="c.desg_id" (change)="Changeofdesignation(c.EMP_DIVISION_ID,c.desg_id)"
        #desg_id="ngModel" name="desg_id" [disabled]="mode=='view' || hide== true" required>
        <option [ngValue]="undefined" selected>---Select---</option>
        <option [ngValue]="d.desg_id" *ngFor="let d of DesignationList;">
          {{d.desg_name}}
        </option>
      </select>
      </div>

  </div>
  <br>

  <div class="title themeheading">
    Attendance Details
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Sl No.</td>
            <td>Emp. Code</td>
            <td>Name</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td *ngIf="days==28 || days==29 || days == 30 || days == 31">28</td>
            <td *ngIf="days==29 || days == 30 || days == 31">29</td>
            <td *ngIf="days == 30 || days == 31">30</td>
            <td *ngIf="days == 31">31</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of TimeRollDetails; let i=index" >
            <td>{{i+1}}</td>
            <td>{{t.Emp_Employee_Code}}</td>
            <td>{{t.EMP_FIRST_NAME}}</td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_1" style="text-transform: uppercase;" #DAY_1="ngModel"   name="DAY_1" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_2" style="text-transform: uppercase;" #DAY_2="ngModel"  name="DAY_2" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_3" style="text-transform: uppercase;" #DAY_3="ngModel" name="DAY_3"  class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_4" style="text-transform: uppercase;" #DAY_4="ngModel"  name="DAY_4" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_5" style="text-transform: uppercase;" #DAY_5="ngModel" name="DAY_5" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_6" style="text-transform: uppercase;" #DAY_6="ngModel" name="DAY_6" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_7" style="text-transform: uppercase;" #DAY_7="ngModel" name="DAY_7" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_8" style="text-transform: uppercase;" #DAY_8="ngModel" name="DAY_8" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_9" style="text-transform: uppercase;" #DAY_9="ngModel" name="DAY_9" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_10" style="text-transform: uppercase;" #DAY_10="ngModel" name="DAY_10" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_11" style="text-transform: uppercase;" #DAY_11="ngModel" name="DAY_11" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_12" style="text-transform: uppercase;" #DAY_12="ngModel" name="DAY_12" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_13" style="text-transform: uppercase;" #DAY_13="ngModel" name="DAY_13" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_14" style="text-transform: uppercase;" #DAY_14="ngModel" name="DAY_14" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_15" style="text-transform: uppercase;" #DAY_15="ngModel" name="DAY_15" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_16" style="text-transform: uppercase;" #DAY_16="ngModel" name="DAY_16" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_17" style="text-transform: uppercase;" #DAY_17="ngModel" name="DAY_17" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_18" style="text-transform: uppercase;" #DAY_18="ngModel" name="DAY_18" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_19" style="text-transform: uppercase;" #DAY_19="ngModel" name="DAY_2" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_20" style="text-transform: uppercase;" #DAY_20="ngModel" name="DAY_20" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_21" style="text-transform: uppercase;" #DAY_21="ngModel" name="DAY_21" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_22" style="text-transform: uppercase;" #DAY_22="ngModel" name="DAY_22" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_23" style="text-transform: uppercase;" #DAY_23="ngModel" name="DAY_23" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_24" style="text-transform: uppercase;" #DAY_24="ngModel" name="DAY_24" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_25" style="text-transform: uppercase;" #DAY_25="ngModel" name="DAY_25" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_26" style="text-transform: uppercase;" #DAY_26="ngModel" name="DAY_26" class="form-control">
            </td>
            <td>
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_27" style="text-transform: uppercase;" #DAY_27="ngModel" name="DAY_27" class="form-control">
            </td>
            <td *ngIf="days==28 || days==29 || days == 30 || days == 31">
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_28" style="text-transform: uppercase;" #DAY_28="ngModel" name="DAY_28" class="form-control">
            </td> 

                   
            <td *ngIf="days==29 || days == 30 || days == 31">
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_29" style="text-transform: uppercase;" #DAY_29="ngModel" name="DAY_29" class="form-control">
            </td>
            <td *ngIf="days == 30 || days == 31">
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_30" style="text-transform: uppercase;" #DAY_30="ngModel" name="DAY_30" class="form-control">
            </td>
            <td *ngIf="days == 31">
              <input type="text" maxlength="3" [(ngModel)]="t.DAY_31" style="text-transform: uppercase;" #DAY_31="ngModel" name="DAY_31" class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>
    <div class="row" *ngIf="TimeRollDetails.length>0">
      <div class="col-md-12">
        <ul class="list">
          <!-- <li class="list-item"> WO - Week Off </li> -->
          <li class="list-item"> SL - Sick Leave</li>
          <li class="list-item"> SL9 - Maternity Leave</li>
          <li class="list-item"> TL3 - Paid Leave</li>
          <li class="list-item"> AL - Casual Leave</li>
          <li class="list-item"> BL - Business Leave</li>
          <li class="list-item"> IL - Initial Leave</li>
          <li class="list-item"> CL - Company Leave</li>
          <li class="list-item"> VL - Vacation Leave</li>
          <li class="list-item"> DL - Deduction Leave</li>
        </ul>
      </div>
    </div>

    <br>
    <div class="text-center">
      <button class="btn btn-primary" [disabled]="mode == 'view'" (click)="AddTimeroll(TimeRollDetails)">Save</button>
      <button class="btn btn-primary" [disabled]="mode == 'view'" (click)=" Cancel()">Cancel</button>
    </div>
    <br>
  </div>
</div>