<div class="title themeheading">
  BOQ Upload Format
  <button class="btn btn-primary float-right">Upload Format</button>
 <span class="clearfix"></span>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <td>Sl No.</td>
              <td>BOQ No.</td>
              <td>Description</td>
              <td>Unit</td>
              <td>BOQ Qty</td>
              <td>BOQ Rate</td>
              <td>Amount</td>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1.</td>
              <td>Earth Work</td>
              <td></td>
              <td></td>
              <td>10</td>
              <td>500</td>
              <td>152000</td>
          </tr>
          <tr>
              <td>2.</td>
              <td>RCC</td>
              <td></td>
              <td></td>
              <td>12</td>
              <td>600</td>
              <td>125000</td>
          </tr>
          <tr>
              <td>3.</td>
              <td>PCC</td>
              <td></td>
              <td></td>
              <td>10</td>
              <td>500</td>
              <td>150000</td>
          </tr>
          <tr>
              <td>4.</td>
              <td>Footing Concrete</td>
              <td></td>
              <td></td>
              <td>10</td>
              <td>200</td>
              <td>140000</td>
          </tr>
          
      </tbody>
  </table>
</div>