
<div class="wrapper">
  <div class="title themeheading">
      {{title}}
      <span class="clearfix"></span>
  </div>
  <form (ngSubmit)="onSubmit(cgForm)" #cgForm="ngForm" >
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-md-4" style="padding: 10px;margin-top: -9px;">
                  User name: <span style="margin-left: 5px;">{{user.UserName}}</span>
              </div>
          </div>
          <div class="row justify-content-center" >
            <div class="col-md-4">
                <div class="input-group">
                    <input type="password" class="form-control custom-field" name="oldPassword" [(ngModel)]="user.oldPassword" #oldPassword="ngModel" required>
                    <label for="">Old Password
                            <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || formSubmitted)" class="error-msg float-right">
                                    <div *ngIf="oldPassword.errors.required">Password is required</div>
                                </div>
                    </label>
                </div>

                <!-- <mat-form-field style="width:100%;">
                    <input matInput placeholder="Old Password" type="password" class="md-custom" name="oldPassword" [(ngModel)]="user.oldPassword" #oldPassword="ngModel" required>
                </mat-form-field>
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched || formSubmitted)" class="error-msg">
                    <div *ngIf="oldPassword.errors.required">Password is required</div>
                </div> -->
            </div>
        </div>
         
          <div class="row justify-content-center" >
              <div class="col-md-4">
                    <div class="input-group">
                            <input type="password" class="form-control custom-field" name="NewPassword" [(ngModel)]="user.NewPassword" #NewPassword="ngModel" minlength="6"  required>
                            <label for="">New Password
                                    <div *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched || formSubmitted)" class="error-msg float-right">
                                            <div *ngIf="NewPassword.errors.required">Password is required</div>
                                            <div *ngIf="NewPassword.errors.minlength">Password must be at least 6 characters long</div>
                                        </div>
                            </label>
                        </div>
                  <!-- <mat-form-field style="width:100%;">
                      <input matInput placeholder="New Password" type="password" class="md-custom" name="NewPassword" [(ngModel)]="user.NewPassword" #NewPassword="ngModel" minlength="6"  required>
                  </mat-form-field>
                  <div *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched || formSubmitted)" class="error-msg">
                      <div *ngIf="NewPassword.errors.required">Password is required</div>
                      <div *ngIf="NewPassword.errors.minlength">Password must be at least 6 characters long</div>
                  </div> -->
              </div>
          </div>
          <div class="row justify-content-center" > 
              <div class="col-md-4">
                    <div class="input-group">
                            <input type="password" class="form-control custom-field" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required>
                            <label for="">Confirm Password
                                    <div *ngIf="confirmPassword.dirty && confirmPassword.invalid" class="error-msg float-right">
                                            <div *ngIf="confirmPassword.errors.required">Confirm Password required</div>
                                          </div>
                                          <div *ngIf="confirmPassword.valid" class="error-msg float-right">
                                            <div *ngIf="NewPassword.value!=confirmPassword.value">Passwords do not match</div>
                                          </div>
                            </label>
                        </div>
                  <!-- <mat-form-field style="width:100%;">
                      <input matInput placeholder="Confirm Password" type="password" class="md-custom" name="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required>
                  </mat-form-field> -->
                  <!-- <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || formSubmitted)" class="error-msg">
                      <div *ngIf="confirmPassword.errors.required">confirmPassword is required</div>
                      <div *ngIf="user.NewPassword!=user.confirmPassword">confirmPassword is not matching with password</div>
                  </div> -->
                  <!-- <div *ngIf="confirmPassword.dirty && confirmPassword.invalid" class="error-msg">
                    <div *ngIf="confirmPassword.errors.required">Confirm Password required</div>
                  </div>
                  <div *ngIf="confirmPassword.valid" class="error-msg">
                    <div *ngIf="NewPassword.value!=confirmPassword.value">Passwords do not match</div>
                  </div> -->
              </div>
          </div>
          <div class="row" style="padding:20px 0px !important;" >
              <div class="col-md-4 mx-auto text-center">
                  <button class="btn btn-primary btn-custom" type="submit">
                      Save
                  </button>
                  <button class="btn btn-primary btn-custom" (click)="onCancelled()" type="reset">
                      Cancel
                  </button>
              </div>
          </div>
      </div>
  </form>
</div>