<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="sidemenu">
        <ul class="billmenu">
          <li><a [routerLink]="['/home/nominationapp/']"> Nomination Application </a></li>
          <li><a [routerLink]="['nomination-approval']"> Nomination Approval </a></li>
          <li><a [routerLink]="['nomination-san']"> Nomination Sanction </a></li>
           <li><a [routerLink]="['nomination-rec']"> Nomination Records </a></li> -->
        <!-- </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>  -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="sidemenu">
        <!-- <ul class="billmenu" *ngFor="let p of subpageslist">
          <li><a [ngClass]="{'alert-primary':p.KSP_Redirect_URL === localurl}" (click)="geturl(p.KSP_Redirect_URL)" routerLink="{{p.KSP_Redirect_URL}}">{{p.KSP_Name}}</a></li>           
        </ul> -->
        <ul class="billmenu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/home/nominationapp/']"> Nomination Application </a></li>
          <li routerLinkActive="active"><a [routerLink]="['nomination-approval']"> Nomination Approval </a></li>
          <li routerLinkActive="active"><a [routerLink]="['nomination-san']"> Nomination Sanction </a></li>
           <li routerLinkActive="active"><a [routerLink]="['nomination-rec']"> Nomination Records </a></li> 
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>