<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <button class="btn btn-primary float-right" [routerLink]="['/home/emp-claims/htc-ltc-sanction']">Back</button>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <label>Leave Concession No. :</label>
      </div>
      <div class=" col-md-4">
        <label for="">Date : </label>
      </div>
      <div class=" col-md-4">
        <label for="">Status : </label>
      </div>
    </div>
    <!--  -->
    <div class="title rowmarginfix themeheading">
      Employee Details
    </div>
    <div class="row">
      <div class="col-md-4">
        
          <label for=""> Division Code :</label>
         
      </div>
      <div class="col-md-4">

          <label for="">Emp Code :</label>
          
      </div>
      <div class="col-md-4">
        <label for="">Name : </label> &nbsp; <span class="name">Akash</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <label for="">Division : </label> &nbsp; <span class="name">Banglore</span>
      </div>
      <div class="col-md-4">
        <label for="">Department : </label> &nbsp; <span class="name">Admin</span>
      </div>
      <div class="col-md-4">
        <label for="">Designation : </label> &nbsp; <span class="name">S.D.A</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="">Employee Category : </label> &nbsp; <span class="name">Officials</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Group : </label> &nbsp; <span class="name">Group-B</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Type : </label> &nbsp; <span class="name">Permanent</span>
      </div>
    </div>
    <!--  -->
    <div class="title themeheading rowmarginfix">
      HTC & LTC Details
    </div>

    <div class="border-view">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td class="text-center">Sl No.</td>
              <td class="text-center">Concession Type</td>
              <td class="text-center">Availed Date</td>
              <td class="text-center">Amount</td>
              <td class="text-center">Description </td>
              <td class="text-center">Note View </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1.</td>
              <td class="text-center">HTC</td>
              <td class="text-center">4-5-2019</td>
              <td class="text-center">2500</td>
              <td class="text-center">
                Bihar State Housing Board (BSHB) established under Bihar State Housing Board Act 1962
                as a successor to Mysore Housing Board constituted in 1956.
                The primary objective of BSHB is 'to make
                such schemes and to carry out such works as are necessary for the purpose of dealing with and
                satisfying the need of housing accommodation'.
                With this directive BSHB endeavors to provide housing to the people of Bihar at
                affordable cost and therefore recognized as the most important agency for
                housing throughout Bihar.
              </td>
              <td class="text-center">
                <a href="#">
                  <i class=" fa fa-lg fa-eye themecolor"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="title themeheading rowmarginfix">
      Sanction Details
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Sanctioned : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio1" name="exampleRadios1">
            <label for="radio1">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio2" name="exampleRadios1">
            <label for="radio2">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Cancel : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio3" name="exampleRadios2">
            <label for="radio3">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio4" name="exampleRadios2">
            <label for="radio4">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Sanctioned By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Sanctioned Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Canceled By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Canceled Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label for="">Remarks</label>
          <textarea name="" id="" cols="30" rows="10" class="custom-field"></textarea>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="text-center">
    <button class="btn btn-primary">Save</button> &nbsp;
    <button class="btn btn-primary">Cancel</button>
  </div>
</div>