<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <!-- <button class="btn btn-primary float-right" [routerLink]="['/home/progressphoto']">Back</button> -->
    <span class="clearfix"></span>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Project District</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><select class="custom-field"></select><label for="">Project</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Phase</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Contractor</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Activity / Job</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Section detail</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Milestone</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Area</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="date" class="custom-field"><label for="">Upload Date</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Location/Place</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Reference Description</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Distance</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Unit</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Uploaded by</label></div>
      </div>
    </div>
</div>

<div class="title themeheading">
  Project Photos
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <label for="">Photo</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>
      <div class="col-md-6">
        <div class="input-group"><textarea class="custom-field"></textarea><label for="">Description</label></div>
      </div>
    </div>
<div class="text-center">
  <div class="col-md-12">
    <button class="btn btn-primary">Add</button>
  </div>
</div>
    <div class="">
      <div class="">
        <div class="table-responsive">
          <table class="table table-stripped">
            <thead>
              <tr>
                <td>Sl No.</td>
                <td>Photo</td>
                <td>Description</td>
                <td>Remove</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-6">
        <div class="input-group"><textarea class="custom-field"></textarea><label for="">Remarks</label></div>
      </div>
      <div class="col-md-1">
        <label for="">Status</label>
      </div>
      <div class="col-md-5">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Active
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Inactive
          </label>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center">
      <button class="btn btn-primary">Save</button><button class="btn btn-primary">Cancel</button>
    </div>
  </div>
</div>