<div class="wrapper">
  <form (ngSubmit)="mode=='Edit'?UpdateTRN(TRN):SaveTRN(TRN)" #TRN="ngForm" name="TRN">
    <div class="title themeheading">
      {{title}}
      <!-- <button class="btn btn-primary float-right" [routerLink]="['/home/training']">Back</button> -->
      <button class="btn btn-primary float-right" type="button" (click)="Back()" >Back</button>
      <span class="clearfix"></span>
    </div>
    <!--  -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-5">
              <label for="">Training No. : </label>
            </div>
            <div class="col-md-7">
              <span> {{T.DOC_CODE}} </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-5">
              <label for="">Date. : </label>
            </div>
            <div class="col-md-7">
              <span> {{T.Doc_Year | date:'dd/MM/yyyy'}} </span>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <label for="">Status : 
            <span *ngIf="T.DOC_STATUS=='G'">Generated</span>
            <span *ngIf="T.DOC_STATUS=='A'">Approved</span>
            <span *ngIf="T.DOC_STATUS=='R'">Rejected</span>
            <span *ngIf="T.DOC_STATUS=='S'">Sanctioned</span>
          </label>
        </div>
      </div>
    </div>

    <div class="title themeheading">
      Employee Details
      <span class="clearfix"></span>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <label for=""> Division code <span style="color:red;">*</span></label>
            <select class="custom-field" [(ngModel)]="T.DivisionId" #DivisionId="ngModel" name="DivisionId" [disabled]="mode=='View' || mode =='Edit'"
               (change)="GetEmployee(T.DivisionId)" required>
              <option [value]="undefined" selected>---Select---</option>
              <option [value]="d.DI_Id" *ngFor="let d of Districtlist;">
                {{d.DI_District}}
              </option>
            </select>
          </div>
          <div class="error-msg"
                *ngIf="DivisionId.invalid && (DivisionId.dirty || DivisionId.touched || formInvalid)">
                <span *ngIf="DivisionId.errors.required">Division is required</span>
              </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <label for="">Emp Code <span style="color:red;">*</span> </label>
            <select class="custom-field" [(ngModel)]="T.EmpID" #EmpID="ngModel" name="EmpID" [disabled]="mode=='View' || mode =='Edit'"
              (change)="GetEmployeeForTheId(T.EmpID)" required>
              <option [value]="undefined" selected>---Select---</option>
              <option [value]="ee.EMP_EMPLOYEE_ID" *ngFor="let ee of Emplist;">
                {{ee.EMP_EMPLOYEE_CODE}} &nbsp; {{ee.EMP_FIRST_NAME}}
              </option>
            </select>
          </div>
          <div class="error-msg"
                *ngIf="EmpID.invalid && (EmpID.dirty || EmpID.touched || formInvalid)">
                <span *ngIf="EmpID.errors.required">Employee Code is required</span>
              </div>
        </div>

        <div class="col-md-4">
          <label for="">Name : </label> &nbsp;
          <span> {{EmployeeDetails.EMP_FIRST_NAME}} </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ">
          <label for="">Division : </label> &nbsp;
          <span> {{EmployeeDetails.DI_District}} </span>
        </div>
        <div class="col-md-4">
          <label for="">Department : </label> &nbsp;
          <span> {{EmployeeDetails.Department_Name}} </span>
        </div>
        <div class="col-md-4">
          <label for="">Designation : </label> &nbsp;
          <span> {{EmployeeDetails.desg_name}} </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Employee Category : </label> &nbsp;
          <span> {{EmployeeDetails.EMP_CATEGORY}} </span>
        </div>
        <div class="col-md-4">
          <label for="">Employee Group : </label> &nbsp;
          <span> {{EmployeeDetails.EMP_GROUP}} </span>
        </div>
        <div class="col-md-4">
          <label for="">Employee Type : </label> &nbsp;
          <span> {{EmployeeDetails.EMP_TYPE}} </span>
        </div>
      </div>
      <!--  -->
      <div class="container-fluid">
        <div class="title rowmarginfix themeheading">
          Training Details
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Training Type <span style="color:red;">*</span> </label><br>
              <select class="custom-field" [(ngModel)]="T.TrainingId" #TrainingId="ngModel" name="TrainingId"
                [disabled]="mode=='View'" required>
                <option [value]="undefined" selected>---Select---</option>
                <option [value]="tt.fix_code_id" *ngFor="let tt of Trainingtypelist;">
                  {{tt.code_value}}
                </option>
              </select>

              <div class="error-msg"
                *ngIf="TrainingId.invalid && (TrainingId.dirty || TrainingId.touched || formInvalid)">
                <span *ngIf="TrainingId.errors.required">Training Type is required</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Training Category <span style="color:red;">*</span></label><br>
              <select class="custom-field" [(ngModel)]="T.CategoryId" #CategoryId="ngModel" name="CategoryId"
                [disabled]="mode=='View'" required>
                <option [value]="undefined" selected>---Select---</option>
                <option [value]="tc.fix_code_id" *ngFor="let tc of TrainingCategorylist;">
                  {{tc.code_value}}
                </option>
              </select>
              <div class="error-msg"
                *ngIf="CategoryId.invalid && (CategoryId.dirty || CategoryId.touched || formInvalid)">
                <span *ngIf="CategoryId.errors.required">Training Category is required</span>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label> Conducted By <span style="color:red;">*</span> </label><br>
              <input type="text" name="Conductedby" maxlength="50" [(ngModel)]="T.Conductedby" #Conductedby="ngModel"
                class="form-control" [disabled]="mode=='View'" required  pattern="[A-Za-z]+" >
            </div>
            <div class="error-msg"
              *ngIf="Conductedby.invalid && (Conductedby.dirty || Conductedby.touched || formInvalid)">
              <span *ngIf="Conductedby.errors.required">Conducted By is required</span>
              <span *ngIf="Conductedby.errors.pattern">Conducted By should accept only alphabets</span>
            </div>

          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Registration No. <span style="color:red;">*</span></label><br>
              <input type="text" name="Registration" maxlength="50" [(ngModel)]="T.Registration" #Registration="ngModel"
                class="form-control" [disabled]="mode=='View'" required  pattern="^[a-zA-Z0-9]*$">
            </div>
            <div class="error-msg"
              *ngIf="Registration.invalid && (Registration.dirty || Registration.touched || formInvalid)">
              <span *ngIf="Registration.errors.required">Registration No is required</span>
              <span *ngIf="Registration.errors.pattern">Registration No should accept alphanumeric</span>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Subject <span style="color:red;">*</span></label><br>
              <input type="text" name="Subject" maxlength="50" [(ngModel)]="T.Subject" #Subject="ngModel"
                class="form-control" [disabled]="mode=='View'" required pattern="^[a-zA-Z0-9]*$">
            </div>
            <div class="error-msg" *ngIf="Subject.invalid && (Subject.dirty || Subject.touched || formInvalid)">
              <span *ngIf="Subject.errors.required">Subject is required</span>
              <span *ngIf="Subject.errors.pattern">Subject should accept alphanumeric</span>
            </div>

          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Start Date <span style="color:red;">*</span></label><br>
              <input type="Date" name="Start_Date" maxlength="50" [(ngModel)]="T.Start_Date" #Start_Date="ngModel"
                class="form-control" [disabled]="mode=='View'" (change)="getstartdate(T.Start_Date)" required>
            </div>
            <div class="error-msg"
              *ngIf="Start_Date.invalid && (Start_Date.dirty || Start_Date.touched || formInvalid)">
              <span *ngIf="Start_Date.errors.required">Start Date is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>End Date <span style="color:red;">*</span></label><br>
              <input type="Date" name="End_Date" maxlength="50" [(ngModel)]="T.End_Date" #End_Date="ngModel"
                class="form-control" [disabled]="mode=='View'" required>
            </div>
            <div class="error-msg" *ngIf="End_Date.invalid && (End_Date.dirty || End_Date.touched || formInvalid)">
              <span *ngIf="End_Date.errors.required">End Date is required</span>
            </div>

          </div>
          <div class=" col-md-6 col-sm-6">
            <div class="input-group">
              <label>Certification Date </label><br>
              <input type="Date" name="Cretification_Date" maxlength="50" [(ngModel)]="T.Cretification_Date"
                #Cretification_Date="ngModel" class="form-control" [disabled]="mode=='View'">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Remarks</label><br>
              <input type="text" name="Remarks" maxlength="50" [(ngModel)]="T.Remarks" #Remarks="ngModel"
                class="form-control" [disabled]="mode=='View'">
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <label style="color:blue">Upload Certificate</label>
        </div>
        <div class="col-md-4 col-sm-4">
            <input *ngIf="!hide && mode !== 'View'" type="file" #Image accept="application/pdf"
              (change)="imageUpload1($event.target.files)" id="DOC_UPLOAD_PATH" name="DOC_UPLOAD_PATH">
              <a *ngIf="T.DOC_UPLOAD_PATH" [href]="T.DOC_UPLOAD_PATH" target="_blank" 
              [class.disabled]="!T.DOC_UPLOAD_PATH" tabindex="-1" aria-disabled="true">
             View
           </a>
           
           <!-- Optionally, you can also disable the link when DGO_Upload is null -->
           <a *ngIf="!T.DOC_UPLOAD_PATH" class="disabled" tabindex="-1" aria-disabled="true">
             View
           </a>
        </div>
        
        </div>
      </div>
      <br />


      <div class="d-flex justify-content-center">
        <button [disabled]="mode=='View'" class="btn btn-primary"
          type="submit">{{mode=='edit'?'Update':'Save'}}</button> &nbsp;
        <button [disabled]="mode=='View'" class="btn btn-primary" type="button" (click)="Cancel()">Cancel</button>&nbsp;
      </div>
      <br>
    </div>
  </form>