<!-- <div class="wrapper">
  <div class="title themeheading">
    Particulars of the Goverment Servant
    <span class="clearfix"></span>
  </div> -->
  <div class="container-fluid">
    <br>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="part-1-tab" data-toggle="tab" href="#part-1" role="tab" aria-controls="part-1"
          aria-selected="true">part-1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="part-2-tab" data-toggle="tab" href="#part-2" role="tab" aria-controls="part-2"
          aria-selected="false">part-2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="part-3-tab" data-toggle="tab" href="#part-3" role="tab" aria-controls="part-3"
          aria-selected="false">part-3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="part-4-tab" data-toggle="tab" href="#part-4" role="tab" aria-controls="part-4"
          aria-selected="true">part-4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="part-5-tab" data-toggle="tab" href="#part-5" role="tab" aria-controls="part-5"
          aria-selected="false">part-5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="part-6-tab" data-toggle="tab" href="#part-6" role="tab" aria-controls="part-6"
          aria-selected="false">part-6</a>
      </li>
    </ul>
    <!-- <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="part-1" role="tabpanel" aria-labelledby="part-1-tab">
        <div class="row">
          <div class="col-md-6">
           1. (a) &nbsp; Name of the Government Servant <br>
            ಸರ್ಕಾರಿ ನೌಕರನ ಹೆಸರು
          </div>
          <div class="col-md-6">
            nknjoikjoikj dfaqegfreg
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            (b) Residence <br>
            ನಿವಾಸ ಸ್ಥಳ
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            2. (a) &nbsp; Father's Name <br>
            ತಂದೆಯ ಹೆಸರು 
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
              (b) Residence <br>
              ನಿವಾಸ ಸ್ಥಳ
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            (c) &nbsp; Residential Address of the members of the Family with Relation <br>
            ಕುಟುಂಬದ ಸದಸ್ಯರೊಂದಿಗೆ ಇವರು ಸಂಬಂಧ ಮತ್ತು ಅವರ ನಿವಾಸದ ವಿಳಾಸ 
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            3. (a) &nbsp; Date of birth by the Christian era (in figures and words) <br>
            ಜನ್ಮ ದಿನಾಂಕ ಕ್ರಿಸ್ತಶಕನುಸಾರ (ಅಂಕಿ ಮತ್ತು ಅಕ್ಷರಗಳಲ್ಲಿ)
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6"> (b) Perticulars of the  document on which entry is based <br>
            ನಮೂದು ಯಾವುದರ ಮೇಲೇ ಅಧಾರಿತವಾಗಿದೆಯೋ ಅ ದಸ್ತಾವೇಜಿನ ವಿವರ
           </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            4. Exact height by measurement <br>
            ಅಳತೆ ಮಾಡಿ ಸರಿಯಾದ ಎತ್ತರ  
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            5. Personal marks of identification <br>
            ವೈಯಕ್ತಿಕ ಗುರುತು ಚಿಹ್ನೆಗಳು
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            6. (a) Particulars of educational qualifications ( Examinations passed and year of passing ) <br>
            ವಿದ್ಯಾಹರ್ತೆಗಳ ವಿವರಗಳು (ಪಾಸಾದ ಪರೀಕ್ಷೆಗಳು ಮತ್ತು ಪಾಸಾದ ವರ್ಷ) 
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            (b) Particulars of departmental qualification ( Examinations passed and year of passing ) <br>
            ಇಲಾಖೆ ವಿದ್ಯಾಹರ್ತೆಗಳು ವಿವರಗಳು (ಪಾಸಾದ ಪರೀಕ್ಷೆಗಳು ಮತ್ತು ಪಾಸಾದ ವರ್ಷ)  
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            7. Whether the Government Servant belongs to a Scheduled Caste/Sheduled Tribe/Backward
            Tribe or other Backword Class, if so Indicate the Caste, Tribe or Class. Original Certificate 
            issued by the competent authority in this respect shall be pasted in the Service book <br>
            ಸರ್ಕಾರಿ ನೌಕರನು  ಅನುಸೂಚಿತ ಜಾತಿ / ಅನುಸೂಚಿತ ಪಂಗಡ / ಹಿಂದುಳಿದ ಪಂಗಡ ಅಥವಾ ಇತರ ಹಿಂದುಳಿದ ವರ್ಗಕ್ಕೆ ಸೇರಿದವನೆ? 
            ಸೇರಿದ್ದರೆ ಆತನ ಜಾತಿ ಅಥವಾ ವರ್ಗವನ್ನು ಸೂಚಿಸಬೇಕು. ಈ ಸಂಬಂಧದಲ್ಲಿ ಸಕ್ಷಮ ಪ್ರಾಧಿಕಾರವರ್ಗದಿಂದ ನೀಡಲಾದ 
            ಪ್ರಮಾಣಪತ್ರದ ಮೂಲ ಪ್ರತಿಯನ್ನು ಸೇವಾ ಪುಸ್ತಕಕ್ಕೆ ಅಂಟಿಸಬೇಕು.   

          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            8. Home town or village (for leave travel concessions) <br>
            ಸ್ವಂತ ಪಟ್ಟಣ ಅಲ್ಲವೇ ಗ್ರಾಮ (ರಜಾ ಪ್ರಯಾಣ ಸೌಲಭ್ಯಗಳ ಬಗ್ಗೆ) 
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            9. Left hand thumb and figer impressions of the Goverment Servant ( only if the Goverment servant is illiterate ) <br>
            ಸರ್ಕಾರಿ ನೌಕರನ ಎಡಗೈ ಹೆಬ್ಬೆರೆಳ  ಮತ್ತು ಇತರ ಬೆರಳುಗಳ ಮುದ್ರೆ (ಸರ್ಕಾರಿ ನೌಕರನು ಅನಕ್ಷರಸ್ಥನಾಗಿದ್ದರೆ ಮಾತ್ರ) 
          </div>
          <div class="col-md-6"></div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-striped grid">
                    <thead>
                      <tr>
                        <td>Sl No.</td>
                        <td>Thumb <br>
                          ಹೆಬ್ಬೆರಳು 
                        </td>
                        <td> Second finger <br> 
                          ತೋರುಬೆರಳು 
                        </td>                      
                        <td>Third finger <br>
                          ಮಧ್ಯಮ ಬೆರಳು
                        </td>
                        <td>Fourth finger <br>
                          ಉಂಗುರದ ಬೆರಳು
                        </td>
                        <td>Little finger <br>
                          ಕಿರು ಬೆರಳು 
                        </td>                                   
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table> -->
    <!-- </div>

        <br>

        <div class="row">
          <div class="col-md-6">10. Signature of the Goverment servant <br>
            ಸರ್ಕಾರಿ ನೌಕರನ ಸಹಿ
           </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            11. Signature and designation of the head of Office or other Attesting Officer <br>
            ಕಛೇರಿಯ ಮುಖ್ಯಾಧಿಕಾರಿಯ ಇಲ್ಲವೆ ದೃಢೀಕರಿಸುವ  ಇತರ ಅಧಿಕಾರಿಯ ಸಹಿ
          </div>
          <div class="col-md-6"></div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"></div>
        </div> -->


      <!-- </div>
      <div class="tab-pane fade" id="part-2" role="tabpanel" aria-labelledby="part-2-tab">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <td class="text-center" rowspan="2">Designation of the post held and the office in which it is held <br>
                        ಧಾರಣಮಾಡಿದ ಹುದ್ದೆಯ ಹೆಸರು ಮತ್ತು ಯಾವ ಕಛೇರಿಯಲ್ಲಿ ಧಾರಣ ಮಾಡಿದೆ
                      </td>
                      <td class="text-center" rowspan="2"> a)Whether the post is permanent or temporary <br>
                        ಹುದ್ದೆಯು ಕಾಯಂ ಅಥವ ಹಂಗಾಮಿಯೆ?
                      </td>
                      <td class="text-center " rowspan="2"> b) &nbsp; Whether the Govt.servent is substantive or officiating <br>
                        ಸರ್ಕಾರಿ ನೌಕರನು ಮೂಲನಿಯುಕ್ತಿಯಲ್ಲಿರುವನೆ ಇಲ್ಲವೆ ಬದಲಿ ನಿಯುಕ್ತಿಯಲ್ಲಿರುವನೆ
                      </td>                      
                      <td class="text-center" rowspan="2">Designation of the substantive appointment at which the Govt.servent has alien while holding a temporary or officiating appointment <br>
                        ಸರ್ಕಾರಿ ನೌಕರನು ಹಂಗಾಮಿ ಇಲ್ಲವೆ ಬದಲಿ ನಿಯುಕ್ತಿಯನ್ನು ಧಾರಣ ಮಾಡಿರುವಾಗ ಯಾವುದರ ಮೇಲೆ ಅವನಿಗೆ ಧಾರಣಾಧಿಕಾರವಿರುವುದೊ ಆ ಮೂಲ ನಿಯುಕ್ತಿಯ ಹುದ್ದೆಯ ಹೆಸರು 
                      </td>
                      <td class="text-center " rowspan="2">Pay in the substantive post <br>
                        ಮೂಲ ಹುದ್ದೆಯ ವೇತನ  
                      </td>
                      <td class="text-center " rowspan="2">Additional pay for officiating <br>
                        ಸ್ಥಾನಪನ್ನದ ಬಗ್ಗೆ ಹೆಚ್ಚಿನ ವೇತನ </td>
                      <td class="text-center " rowspan="2">Other emoluments falling under the term pay <br>
                        ವೇತನ ಎಂಬ ಮಾತಿನಲ್ಲಿ ಬರುವ ಇತರ ಭತ್ಯಗಳು 
                      </td>
                      <td class="text-center" rowspan="2">Date of commencement <br>
                        ಪ್ರಾರಂಭದ ದಿನಾಂಕ
                      </td>
                      <td class="text-center" rowspan="2">Date of termination <br>
                        ಮುಕ್ತಾಯದ ದಿನಾಂಕ 
                      </td>
                      <td class="text-center" rowspan="2">Joining time availed on transfer <br>
                        ವರ್ಗಾವಣೆಯಾದ ಮೇಲೆ ಉಪಯೋಗಿಸಿಕೊಂಡ ಸೇರುವ ಅವಧಿ 
                      </td>
                      <td class="text-center" rowspan="2">Reasons for the termination such as promotion Increments transfer. etc <br>
                        ಅಂಥ ಪದೋನ್ನತಿ ವೇತನ ವೃದ್ಧಿವರ್ಗಾವಣೆ ಮುಂತಾದುವುಗಳನ್ನು ಸಮಾಪ್ತಿಗೊಳಿಸಿದ್ದಕ್ಕೆ ಕಾರಣಗಳು 
                      </td>
                      <td class="text-center" rowspan="2">Reference to the sanction (No. and date of order and authority) for the change <br>
                        ಬದಲಾವಣೆಯ ಮಂಜೂರಾತಿಗೆ (ಆದೇಶದ ದಿನಾಂಕ ಮತ್ತು ಕ್ರಮಾಂಕ ಮತ್ತು ಅಧಿಕಾರಿ) ಉಲ್ಲೇಖ 
                      </td>
                      <td class="text-center" rowspan="2">Signature of Government servant <br>
                        ಸರ್ಕಾರಿ ನೌಕರನ ಸಹಿ
                      </td>
                      <td class="text-center" rowspan="2">Signature of Head of office attesting officer <br>
                        ಕಛೇರಿಯ ಮುಖ್ಯಾಧಿಕಾರಿಯ ಇಲ್ಲವೆ ದೃಢಿಕರಿಸುವ ಇತರೆ ಅಧಿಕಾರಿಯ ಸಹಿ  
                      </td>
                      <td class="text-center" rowspan="2">Remarks <br>
                        ಷರಾ
                      </td>                                   
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
  </div>
      </div>
      <div class="tab-pane fade" id="part-3" role="tabpanel" aria-labelledby="part-3-tab">...</div>
      <div class="tab-pane fade " id="part-4" role="tabpanel" aria-labelledby="part-4-tab">
          <div class="table-responsive" id="auction-grid">
              <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td colspan="2" class="text-center" >Particulars of service in the calendar half year <br>
                          ಕ್ಯಾಲೆಂಡರ್ ಅರ್ಧವರ್ಷದ ಸೇವಾ ವಿವರಗಳು 
                        </td>
                        <td rowspan="2" class="text-center">Completed months of service in the calendar half year <br>
                          ಕ್ಯಾಲೆಂಡರ್ ಅರ್ಧ ವರ್ಷದ ಪೂರ್ಣಗೊಳಿಸಿದ  ಸೇವಾ ತಿಂಗಳು 
                        </td>
                        <td rowspan="2" class="text-center">E L credited at the beginning of half year <br>
                          ಅರ್ಧ ವರ್ಷದ ಪ್ರಾರಂಭದಲ್ಲಿ ಜಮೆಯಲ್ಲಿರುವ ಅರ್ಜಿತ ರಜೆ
                        </td>
                        <td rowspan="3"class="text-center">No of days of other kinds of leave (H P.L. Commuted leave, leave not due and EOL)(Col 19+22+30+33) availed of during the previous calendar half-year <br>
                          ಹಿಂದಿನ ಕ್ಯಾಲೆಂಡರ್ ಅರ್ಧ ವರ್ಷಾವಧಿಯಲ್ಲಿ ಉಪಯೋಗಿಸಿಕೊಳ್ಳಲಾದ ಇತರ ರೀತಿಯ ರಜಾದಿನಗಳ ಸಂಖ್ಯೆ (ಅರ್ಧಸಂಬಳದ ರಜೆ ಪರಿವರ್ತಿತ ರಜೆ ಮತ್ತು ಇತರೆ ರಜೆಗಳು) ಅಂಕಣ (19+22+30+33) </td>
                      </tr>
                      <tr>
                        <td>From <br>
                          ಇಂದ 
                        </td>
                        <td>To <br>
                          ವರೆಗೆ
                        </td>
                      </tr>
                </thead>
                 <tbody>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tbody>
              </table>
          </div>
      </div>
      <div class="tab-pane fade" id="part-5" role="tabpanel" aria-labelledby="part-5-tab">
          <div class="table-responsive" id="auction-grid">
              <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td colspan="2" class="text-center" >Particulars of service in the calendar half year <br>
                         ಕ್ಯಾಲೆಂಡರ್ ಅರ್ಧವರ್ಷದ ಸೇವಾ ವಿವರಗಳು 
                        </td>
                        <td rowspan="2" class="text-center">Completed months of service in the calendar half year <br>
                          ಕ್ಯಾಲೆಂಡರ್ ಅರ್ಧವರ್ಷದ ಪೂರ್ಣಗೊಳಿಸಿದ ಸೇವಾ ತಿಂಗಳು 
                        </td>
                        <td rowspan="2" class="text-center">E L credited at the beginning of half year <br>
                          ಅರ್ಧ ವರ್ಷದ ಪ್ರಾರಂಭದಲ್ಲಿ ಜಮೆಯಲ್ಲಿರುವ ಅರ್ಜಿತ ರಜೆ
                        </td>
                        <td rowspan="2"class="text-center">No of days of other kinds of leave (H P.L. Commuted leave, leave not due and EOL)(Col 9+22+30+33) availed of during the previous calendar half-year <br>
                          ಹಿಂದಿನ ಕ್ಯಾಲೆಂಡರ್ ಅರ್ಧ ವರ್ಷಾವಧಿಯಲ್ಲಿ ಉಪಯೋಗಿಸಿಕೊಳ್ಳಲಾದ ಇತರ ರೀತಿಯ ರಜಾದಿನಗಳ ಸಂಖ್ಯೆ (ಅರ್ಧಸಂಬಳದ ರಜೆ ಪರಿವರ್ತಿತ ರಜೆ ಮತ್ತು ಇತರೆ ರಜೆಗಳು) ಅಂಕಣ(19+22+30+33) 
                        </td>
                        <td rowspan="2" class="text-center">E.L to be deducted(1/11th of the period in col 5) <br>
                          ಕಳೆಯಬೇಕಾದ ಅರ್ಜಿತ ರಜೆ (ಅಂಕಣ 5ರ ಅವಧಿಯ 1/11 ರಷ್ಟು) 
                        </td>
                        <td rowspan="2" class="text-center">Total E.L. at credit in days(Col 4 11-6) <br>
                          ಜಮೆಯಲ್ಲಿರುವ ಒಟ್ಟು ಅರ್ಜಿತ ರಜೆ ದಿವಸಗಳಲ್ಲಿ (ಅಂಕಣ .4 11 - 6 )
                        </td>
                        <td colspan="3" class="text-center">Leave taken <br>
                          ತೆಗೆದುಕೊಂಡ ರಜೆ
                        </td>
                        <td rowspan="2" class="text-center">Balance of E.L. on return from (Col 7-10) <br>
                          ರಜೆಯಿಂದ ಮರಳಿದ ನಂತರ ಶಿಲ್ಕು (ಅಂಕಣ 7 - 10 )
                        </td>
                      </tr>
                      <tr>
                        <td>From <br>
                          ಇಂದ 
                        </td>
                        <td>To <br>
                          ವರೆಗೆ  
                        </td>
                        <td>From <br>
                          ಇಂದ
                        </td>
                        <td>To <br>
                          ವರೆಗೆ</td>
                        <td>No of days <br>
                          ದಿವಸಗಳ ಸಂಖ್ಯೆ 
                        </td>
                      </tr>
                </thead>
                 <tbody>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                 </tbody>
              </table>
          </div>
        
      </div>
      <div class="tab-pane fade" id="part-6" role="tabpanel" aria-labelledby="part-6-tab">
        <p>Particulars od leave travel concessions availed of by the Government Servant and other special features. <br>
          ನೌಕರನು ರಜೆ ತೆಗೆದುಕೊಂಡಾಗ ಉಪಯೋಗಿಸಿಕೊಂಡು ಪ್ರಯಾಣದ ರಿಯಾಯಿತಿಗಳ ವಿವರಗಳು ಮತ್ತು ಇತರ ವಿಶೇಷ ಸ್ವಭಾವದ ಅಂಶಗಳು 
        </p>
      </div>
    </div>
  </div> -->
</div>