<div class="wrapper">
  <div class="title themeheading">
    Add Employee Increment
    <button class="btn btn-primary float-right" [routerLink]="['/home/increment']">Back</button>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <label for="">Increment Code :</label>
      </div>
      <div class="col-md-4">
        <label for="">Date : <span>11/11/2019</span></label>
      </div>
      <div class="col-md-4">
        <label for="">Status :</label>
      </div>
    </div>

    <div class="title rowmarginfix themeheading">
      Employee Details
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <label for=""> Division code </label>
          <select name="" id="" class="custom-field">
            <option value="">--Select--</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <label for="">Emp Code </label>
          <select name="" id="" class="custom-field">
            <option value="">--Select--</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <label for="">Name : </label> &nbsp; <span class="name">Akash</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <label for="">Division : </label> &nbsp; <span class="name">Banglore</span>
      </div>
      <div class="col-md-4">
        <label for="">Department : </label> &nbsp; <span class="name">Admin</span>
      </div>
      <div class="col-md-4">
        <label for="">Designation : </label> &nbsp; <span class="name">S.D.A</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="">Employee Category : </label> &nbsp; <span class="name">Officials</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Group : </label> &nbsp; <span class="name">Group-B</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Type : </label> &nbsp; <span class="name">Permanent</span>
      </div>
    </div>

    <div class="title themeheading rowmarginfix">
      Generate Increment List
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Present Scale :</label>
      </div>
      <div class="col-md-6">
        <label for="">Last Increment Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="date" class="custom-field">
          <label for="">Increment Due Date</label>
        </div>
      </div>
      <div class="col-md-6">
        <label for="">Increment Scale :</label>
      </div>
    </div>
    <br>
    <div class="text-center">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-primary">Cancel</button>
    </div>
    <br>
  </div>
</div>