<div class="wrapper">
    <div class="title themeheading">
        Variable Allowances
        <div class="float-right">
            <button class="btn btn-primary"
                routerLink="/home/payroll/emp-salary-details/variable-allowances">Back</button>
            <span class="clearfix"></span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Earning Code :</label>
                </div>
            </div>
            <div class="col-md-4">
                <div >
                    <label>Earning Description :</label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Amount :</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Month :</label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Year :</label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Effective Date :</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Ref.Doc.No. :</label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Ref.Doc Date :</label>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label>Ref.Doc. Amount :</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <label>Ref.Doc Month Year :</label>
                </div>
            </div>
        </div>
    </div>

</div>