<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <span class="radio-button-list">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked [routerLink]="['/home/land-procurement-details']">
        <label class="form-check-label" for="inlineRadio1"> Land Acquisition </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" [routerLink]="['/home/land-procurement-details/landpurchase']">
        <label class="form-check-label" for="inlineRadio2"> Land Purchase, JV </label>
      </div>
    </span>   
    <span class="clearfix"></span>
  </div>

  <br>

  <router-outlet></router-outlet>
</div>