<div class="title themeheading">
   Applicant Details
  </div>
  <div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Registration No</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="custom-field">
            <label for="">Name</label>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input type="date" class="custom-field">
            <label for="">Allotment Date as per Database</label>
          </div>
        </div>
      </div>
  
  </div>
<div class="title themeheading">
    Property Details
  </div>
  <div class="container-fluid">
      <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Sl No.</td>
                <td>Place name</td>
                <td>Category</td>
                <td>Property Number</td>
                <td>Block/Sector</td>
                <td>Final Cost(Rs.)</td>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
          </table>
        </div>
  </div>
  
<div class="title themeheading">
  
      Installment Details
    </div>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Sl No.</td>
                  <td>Amount (Rs.)</td>
                  <td>Due Date as per Database</td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>1.</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
          </div>
    </div>
  
<div class="title themeheading">
    
        Payment Details
      </div>
      <div class="container-fluid">
          <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>Sl No.</td>
                    <td>PAyment Type</td>
                    <td>Payment Mode</td>
                    <td>Installment/ID Amount(Rs.)</td>
                    <td>DD Date </td>
                    <td>DD No.</td>
                    <td>Bank Name</td>
                    <td>Branch Name</td>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>1.</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                  
              </table>
            </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-6">
            Sum of all ID Payments : 1000
          </div>
          <!-- <div class="col-md-2">
            <td>10000</td>
          </div> -->
       </div>

  
      <div class="btn-wrapper text-center">
          <button class="btn btn-primary">Enter Payment Details</button>
      </div>
  
<div class="title themeheading">
      
        Leasedeed Details
      </div>
      <div class="container-fluid">
        <div class="row" style="margin-top: 12px;">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="custom-field">
              <label for="">Total Property Cost (Rs)</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="custom-field">
              <label for="">Amount paid(Rs.) by Allotee before(Leasedeed)</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <input type="date" class="custom-field">
              <label for="">Sale deed date</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <input type="date" class="custom-field">
              <label for="">PC Issue date</label>
            </div>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <textarea class="custom-field" placeholder=" "></textarea>
                  
                  <label for="">Remarks</label>
                </div>
            </div>
            
          </div>
          <div class="btn-wrapper text-center">
              <button class="btn btn-primary">Save</button>
              <button class="btn btn-primary">Back</button>
              
          </div>
      
      
      </div>