<div class="wrapper">
  <!-- <div class="title themeheading">
    Leave Application

    <span class="clearfix"></span>
  </div> -->

  <form #EmplDetails="ngForm" name="form1">

    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <label for="">Leave Application No :{{c.AppNo}}</label>
        </div>
        <div class="col-md-4">
          <label for="">Date : <span>{{c.DOC_DATE |date:'dd/MM/yyyy'}}</span></label>
        </div>
        <div class="col-md-4">
          <label for="">Status : <span>{{c.LeaveStatus}}</span></label>
        </div>
      </div>
    </div> -->
    <div class="title themeheading">
      Employee Details
      <button class="btn btn-primary float-right" (click)="toggleLeaveDetails()">Add</button>
      <span class="clearfix"></span>
     
    </div>
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-md-4" >
          <label for="">Division code : <span></span></label>
        </div> -->
        <div class="col-md-4" >
          <label for="">Emp Code : <span>{{l.EMP_EMPLOYEE_CODE}}</span></label>
        </div>
        <div class="col-md-4">
          <label for=""> Name :</label> &nbsp; <span>{{l.EMP_FIRST_NAME}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ">
          <label for="">Division : </label> &nbsp; <span class="name">{{l.District_Name}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Department : </label> &nbsp; <span class="name">{{l.Emp_Department_NAME}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Designation : </label> &nbsp; <span class="name">{{l.EMP_APPNT_DESIGNATION_NAME}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Employee Category : </label> &nbsp; <span class="name">{{l.EMP_CATEGORY_NAME}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Employee Group : </label> &nbsp; <span class="name">{{l.EMP_GROUP_NAME}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Employee Type : </label> &nbsp; <span class="name">{{l.EMP_TYPE_NAME}}</span>
        </div>
      </div>
    </div>
    <br>
    <div class="title themeheading" [hidden]="leaveDetailsDisabled">
      Leave Details
      <span class="clearfix"></span>
    </div>
  <div class="container-fluid" [hidden]="leaveDetailsDisabled">
    <fieldset [disabled]="leaveDetailsDisabled">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <select class="custom-field" [(ngModel)]="c.LEAVE_TYPE" #LEAVE_TYPE="ngModel" name="LEAVE_TYPE"
              [disabled]="mode=='view'" (change)="ChangeOfLeave(l.EMP_EMPLOYEE_ID,c.LEAVE_TYPE)">
              <option [value]="undefined" selected>---Select---</option>
              <option *ngFor="let lt of leavetypelist;" [ngValue]="lt.Leave_id">
                {{lt.Leave_name}}
              </option>
            </select>
            <label for="">Leave Type</label>
          </div>
        </div>
        <div class="col-md-6">
          <label for="">Balance : {{LeaveBal}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input type="date" class="custom-field" [(ngModel)]="c.LEAVE_START_DATE" #LEAVE_START_DATE="ngModel"
              name="LEAVE_START_DATE" [disabled]="mode=='view'" required>
            <label for="">From Date</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input type="date" class="custom-field" [(ngModel)]="c.LEAVE_END_DATE" #LEAVE_END_DATE="ngModel"
              name="LEAVE_END_DATE" [disabled]="mode=='view'"
              (keydown.enter)="mydate(c.LEAVE_START_DATE,c.LEAVE_END_DATE)" required>
            <label for="">To Date</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="c.LEAVE_START_DATE && c.LEAVE_END_DATE">
          <div class="input-group">
            <span for="">No. of Days : {{ calculateDateDifference(c.LEAVE_START_DATE, c.LEAVE_END_DATE) }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <textarea class="custom-field" [(ngModel)]="c.Remarks" #Remarks="ngModel" name="Remarks"
              [disabled]="mode=='view'"></textarea>
            <label for="">Remarks</label>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-primary" [disabled]="mode=='view' || hide== true" type="button"
          (click)="SaveEmplDetails(EmplDetails)">Save</button>
        <button class="btn btn-primary" [disabled]="mode=='view' || hide== true" type="reset"
          >Cancel</button>
      </div>
      <br>
      <!-- <div class="table-responsive">
        <table class="table table-stripped table-hover">
          <thead class="thead-dark">
            <tr>
              <td>Sl No.</td>
              <td>Leave Type</td>              
              <td>From Date</td>
              <td>To Date</td>
              <td class="text-center">View</td>
              <td class="text-center">Edit</td>
              <td class="text-center">Delete</td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let e of EmployeeLeaveDetails | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index"
              [class.Blue]="e.LEAVE_APP_STATUS == 4062" [class.Red]="e.LEAVE_APP_STATUS == 4065"
              [class.DGreen]="e.LEAVE_APP_STATUS == 4064">
              <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
              <td>{{e.Department_Name}}</td>
              <td>{{e.leave_name}}</td>
              <td>{{e.LeaveStatus}}</td>
              <td *ngIf="e.LEAVE_APP_STATUS==4061" class="text-center">
                <a href="#" [routerLink]="['/home/leaveapp/leaveapp-form',e.LEAVE_APPL_ID,'view']">
                  <i class="fa fa-lg fa-eye themecolor"></i>
                </a>
              </td>
              <td *ngIf="e.LEAVE_APP_STATUS!=4061">--</td>
              <td *ngIf="e.LEAVE_APP_STATUS==4061" class="text-center">
                <a href="#" [routerLink]="['/home/leaveapp/leaveapp-form',e.LEAVE_APPL_ID,'edit']">
                  <i class="fa fa-lg fa-edit themecolor"></i>
                </a>
              </td>
              <td *ngIf="e.LEAVE_APP_STATUS!=4061">--</td>
              <td *ngIf="e.LEAVE_APP_STATUS==4061" class="text-center">
                <a (click)="delete(e.LEAVE_APPL_ID)">
                  <i class="fa fa-lg fa-trash themecolor"></i>
                </a>
              </td>
              <td *ngIf="e.LEAVE_APP_STATUS!=4061">--</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </fieldset>
    </div>
  </form>

</div>