<div class="wrapper">
  <div class="title themeheading">
    Add Work Order Parameters
    <button class="btn btn-primary float-right">Back</button>
    <span class="clearfix"></span>
</div>

<div class="container-fluid">
   <div class="row">
       <div class="col-md-6">
            <div class="input-group">
                <select class="custom-field"><option value=""></option></select>
                <label for="">Project</label>
            </div>
        </div>
        <div class="col-md-6">
                <div class="input-group">
                    <select class="custom-field"><option value=""></option></select>
                    <label for="">Contractor</label>
                </div>
            </div>
   </div>
    <div class="row">
        
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Work Order No.</label>
            </div>
        </div>
        <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="custom-field">
                    <label for="">Work Order Value</label>
                </div>
            </div>
    </div>
    <!-- <div class="row"> -->
        
        <!-- <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Currency</label>
            </div>
        </div> -->
    <!-- </div> -->
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Mobilization Advance Amount Given </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Mobilization Advance Recovery % </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group"><input type="text" class="custom-field"><label for="">Tax Name</label></div>
        </div>
        <div class="col-md-6">
            <div class="input-group"><input type="text" class="custom-field"><label for="">Percentage to deduct</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Retention % per bill </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Tax Name (Others)</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="custom-field">
                <label for="">Percentage</label>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Add</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <td>Sl No.</td>
                        <td>Tax Name</td>
                        <td>Percentage</td>
                        <td>Remove</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td></td>
                            <td></td>
                            <td>X</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="text-center">
        <button class="btn btn-primary">Save</button><button class="btn btn-primary">Cancel</button>
    </div>
</div>
</div>