.row{
    padding: 1em 0px 0px 0px !important;
    /* margin-bottom: -10px; */
    background: none !important;
}

.pt{
    padding-left:0px;
    list-style: none;
}

.pt li{
    margin-bottom:10px;
}

.pt a{
    display: block;
    padding:10px;
    width:100%;
    background: #f1f1f1;
}

.space{
    margin-bottom:19px;
}

.row:nth-child(odd){
    /* background: #f2f2f2; */
}

td{
    border: 1px solid #ddd;
}

