<div class="wrapper">

  <div class="container-fluid">


    <div class="title themeheading">
      {{title}}
    </div>
    
    <div class="row" >

      <div class="col-md-2 collabel">
        Payment Mode
      </div>
      <div class="col-md-4 inputalign">
          <div class="input-group">
              <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
              </select>
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 collabel">
        Instrument No
      </div>
      <div class="col-md-4 inputalign">
        <div class="input-group">
          <input type="text" placeholder=" " class="custom-field">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 collabel">
        Instrument Date
      </div>
      <div class="col-md-4 inputalign">
        <div class="input-group">
          <input type="date" placeholder=" " class="custom-field">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 collabel">
        Instrument Amount
      </div>
      <div class="col-md-4 inputalign">
        <div class="input-group">
          <input type="text" placeholder=" " class="custom-field">
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-2 collabel">
        Bank Name
      </div>
      <div class="col-md-4 inputalign">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value="">--Select--</option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 collabel">
        Branch Name
      </div>
      <div class="col-md-4 inputalign">
        <div class="input-group">
          <input type="text" placeholder=" " class="custom-field">
        </div>
      </div>
    </div>


    <div class="btn-wrapper text-center">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-primary">Cancel</button>
    </div>

    <div class="table-responsive">
        <table class="table table-striped grid">
            <thead>
              <tr>
                <td rowspan="2">Sl No.</td>
                <td rowspan="2">Payment Type</td>
                <td rowspan="2">Payment Mode</td>
                <td rowspan="2">Installment/ID Amt</td>
                <td rowspan="2">DD Date</td>
               
                <td rowspan="2">DD No</td>
                <td rowspan="2">Bank Name</td>
                <td rowspan="2">Branch Name</td>
              </tr>
              
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td>2</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>
</div>