

.row{
    padding:20px 0px 0px;
}

.content-in .row:nth-child(odd){
    background: #f3f3f3;
}


.Blue{
    color:blue;    
}

.Green{
    color:brown
}

.Red{
    color:red;
}

.DGreen{
    color: green
}