/* centered-card.component.css */
.card-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  align-items: center;
  height: 100vh; /* Full viewport height */
  /* background: url('/assets/images/loginbg.jpg') no-repeat center center; */
  min-height: 100vh;
  /* background-size: cover; */
  background: url('/assets/images/loginbg.jpg') no-repeat center center; /* Centering the background */
  background-size: cover; /* Ensures the image scales to cover the viewport */
  border:1px;
  border-radius:20px;
}

.card {
  width: 60%;
  height: 50%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
  border:0px;
  background-color: white;
  border-radius: 15px;
}
.row {
  padding: 15px;
  margin-top: 2px;
}

.row:nth-child(odd) {
  background: #f2f2f2;
}
.input-group {
  position: relative;
  margin: 15px 0;
}
input.custom-field,
textarea.custom-field,
select.custom-field {
  font-size: 18px;
  padding: 6px;
  display: block;
  width: 100%;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 2px;
  
}

.mandatory {
  color: red;
}
.field-title {
  width: 200px;
  display: inline-block;
  color: #807f7f;
}
.text-center {
text-align: center;
margin-top: 1.5rem;
}
.fieldset {

  background-color: white;
  border:1px;
  border-radius:15px;
 
}

.legend{
  display:flex;
  justify-content:center;
  background-color:white;
  border:1px;
  border-radius:15px;
  border-bottom:0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;;
  padding-top: 15px;

}

.sub{
  display:flex;
  justify-content: center;
  color:black;
  
}