<div class="title themeheading">
    {{title}}

    <label for="" class="float-right" *ngIf="userRole=='Applicant'">Reg No. :
        <span></span>
    </label>
    <span class="clearfix"></span>
</div>

<!--Applicant Search section start-->
<div class="wrapper">
    <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm,itemsPerPage,1)">
        <div class="searchbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <label for="">Search</label>
                    </div>
                    <div class="col-md-3">
                        <select name="SearchCriteria" #SearchCriteria="ngModel" [(ngModel)]="s.SearchCriteria" class="form-control"
                            required>
                            <option [ngValue]="undefined" selected>---Select---</option>
                            <option value="Appno">App. No.</option>
                            <option value="Applicant_Name">Applicant Name</option>
                            <option value="ProjectName">Project Name</option>
                            <option value="PropNo">Property No.</option>
                            <option value="Status">Status</option>
                            <option value="APP_PA_Relation_Name">Relation Name</option>
                            
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="SearchText" #SearchText="ngModel" [(ngModel)]="s.SearchText" class="form-control"
                            placeholder="Search.." required>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default" type="submit">Search</button>
                        <button class="btn btn-default" type="reset" (click)="GetApplicantData(itemsPerPage, 1)">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Applicant Search section end-->

<div class="title" style="margin-bottom: -20px;">
    Applied Properties
</div>
<div class="table-responsive">
    <table class="table table-striped grid">
        <thead>
            <tr>
                <td>Sl No.</td>
                <td>App No.</td>
                <td>Notification No.</td>
                <td>Property No.</td>
                <td>Allotted Project Name</td>
                <td>Category</td>
                <td>Property Type</td>
                <td>App Name</td>
                <td>Status</td>
                <td>View</td>
                <td *ngIf="userRole=='Super Admin'">Payments</td>
                <td colspan="2" *ngIf="userRole!='CASE WORKER'">Application</td>
            </tr>
        </thead>
        <tbody *ngIf="Applicantlist == '' || Applicantlist == 'undefined' || Applicantlist == 'null'">
            <td colspan="15" class="text-center">No Data Found</td>
        </tbody>
        <tbody>
            <tr *ngFor="let appl of Applicantlist | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index">
                <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
                <td>{{appl.APP_No}}</td>
                <td>{{appl.DSWOId_NO_Number}}</td>
                <td>{{appl.LOD_Property_No}}<span [hidden]="appl.Prop_Cat==null"></span></td>
                <td>{{appl.PD_Project_Name}}</td>
                <td>{{appl.CA_CategoryName}}</td>
                <td>{{appl.APP_PropertyType}}</td>
                <td>{{appl.APP_PA_Name}}</td>
                <td>
                    <!-- <button class="btn btn-primary" [routerLink]="['/home/appstatus/status']">Status</button> -->
                    {{appl.APP_Status}}
                    <span style="color: cornflowerblue">{{appl.CanDate | date:'dd-MM-yyyy'}}</span>
                </td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/applicantview',appl.APP_Id,appl.DSWOId_NO_Id,'Appview']">View</button>
                </td>
                <td *ngIf="userRole=='Super Admin'">
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/instapay',appl.APP_Id,appl.APP_No,appl.APP_Status]">Pay</button>
                </td>
                <td *ngIf="appl.LOD_Property_No==null && userRole!='CASE WORKER'">
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/cancellation',appl.APP_Id,appl.APP_Status]"
                        [disabled]="appl.RefundCount!=0 || appl.CanDate!=null">Refund</button>
                </td>
                <td *ngIf="appl.LOD_Property_No!=null && userRole!='CASE WORKER'">
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/cancellation',appl.APP_Id,appl.APP_Status]"
                        [hidden]="appl.APP_Status!='Allotted'" (click)="GetPrId(appl.PR_Id)" [disabled]="appl.CanCount!=0 || appl.APP_Status!='Allotted'">Cancellation</button>
                    <!-- <button  class="btn btn-primary"  [routerLink]="['/home/appstatus/cancellation',appl.APP_Id,appl.APP_Status]" [hidden]="appl.APP_Status!='Allotted'" (click)="GetPrId(appl.PR_Id)" [disabled]="appl.CanCount!=0 || appl.APP_Status!='Allotted' || appl.APP_Status!='Allotted(GRefunded)'">Cancellation</button> -->
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/cancellation',appl.APP_Id,appl.APP_Status]"
                        [hidden]="appl.APP_Status!='EXCNG'" (click)="GetPrId(appl.PR_Id)" [disabled]="appl.CanCount!=0 || appl.APP_Status!='EXCNG'">Cancellation</button>
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/cancellation',appl.APP_Id,appl.APP_Status]"
                        [hidden]="appl.APP_Status!='Allotted(GRefunded)'" (click)="GetPrId(appl.PR_Id)">Cancellation</button>

                    <!-- [disabled]="appl.CanCount==0 && appl.APP_Status=='EXCNG' && appl.APP_Status=='Allotted' && appl.APP_Status=='REVOK'" -->
                </td>
                <!-- <td>
                    <button class="btn btn-primary" [routerLink]="['/home/appstatus/requestrefund',appl.APP_No,appl.APP_Status]">Refund</button>
                </td> -->
            </tr>
        </tbody>
    </table>
    <!-- <div class="container-fluid" *ngIf="hide!='yes'">
        <div class="row">
            <div class="col-md-11">
                <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                    autoHide="false" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="col-md-1">
                Total:
                <span>{{totalItems}}</span>
            </div>
        </div>
    </div> -->
</div>

<div class="title" style="margin-bottom: -20px;">
    New Notifications
    <br>
</div>
<br>



<!--Notification Search section start-->
<div class="wrapper">
    <form #searchForm1="ngForm" (ngSubmit)="onSearchNotification(searchForm1,itemsPerPage,1)">
        <div class="searchbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <label for="">Search</label>
                    </div>
                    <div class="col-md-3">
                        <select name="SearchCriteria1" #SearchCriteria1="ngModel" [(ngModel)]="ss.SearchCriteria1"
                            class="form-control" required>
                            <option [ngValue]="undefined" selected>---Select---</option>
                            <option value="NotifNo">Notification No.</option>
                            <option value="NotifDate">Notification Date</option>
                            <option value="ProjectName">Project</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="SearchText1" #SearchText1="ngModel" [(ngModel)]="ss.SearchText1" class="form-control"
                            placeholder="Search.." required>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-default" type="submit">Search</button>
                        <button class="btn btn-default" type="reset" (click)="GetAllNotificationList(itemsPerPage, 1)">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--Notification Search section end-->

<div class="table-responsive">
    <table class="table table-striped grid">
        <thead>
            <tr>
                <td>Sl No.</td>
                <td>Notification No.</td>
                <td>Notification Date</td>
                <td>Project</td>
                <td>Phase</td>
                <td *ngIf="userRole!='CASE WORKER'">Apply Now</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let noti of notificationlist | paginate: { id: 'pagination1',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index">
                <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
                <td>{{noti.DSWOId_NO_Number}}</td>
                <td>{{noti.DSWOId_NO_Date | date:'dd-MM-yyyy'}}</td>
                <td>{{noti.PD_Project_Name}}</td>
                <td>{{noti.Phase_Name}}</td>
                <td *ngIf="userRole!='CASE WORKER'">
                    <button class="btn btn-primary" type="button" [routerLink]="['/home/appstatus/application-form',noti.DSWOId_NO_Id,noti.PD_Id,'applicant']">Apply
                        Now</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <pagination-controls class="my-pagination" id="pagination1" (pageChange)="changepage($event)" maxSize="5"
                    directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="col-md-1">
                Total:
                <span>{{totalItems}}</span>
            </div>
        </div>
    </div>
</div>