<div class="wrapper">
  <div class="title themeheading">
  {{title}}
    <button class="btn btn-primary float-right" [routerLink]="['/home/boqitem']" >Back</button>
    <span class="clearfix"></span>
  </div>
  <form (ngSubmit)="mode=='edit'? UpdateBOQItem(BOQItemForm):SaveBOQItem(BOQItemForm)" #BOQItemForm="ngForm"
  autocomplete="off">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="custom-field" #boq_item_code="ngModel" name="boq_item_code" [(ngModel)]="i.boq_item_code" pattern="^[a-zA-Z0-9 ]*$" [disabled]="mode=='view'" required>
          <label for="">BOQ Item Code
            <span class="mandatory">*</span>
          </label>
          <div class="error-msg" *ngIf="boq_item_code.invalid && (boq_item_code.dirty || boq_item_code.touched || formInvalid)">
            <span *ngIf="boq_item_code.errors.required">BOQ Item Code is required</span>
            <span *ngIf="boq_item_code.errors?.pattern">Only AlphaNumeric should enter</span>
          </div>
        </div>
      </div>      
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <textarea class="custom-field" #Description="ngModel" name="Description" [(ngModel)]="i.Description"  [disabled]="mode=='view'" required></textarea>
          <label for="">Description
            <span class="mandatory">*</span>
          </label>
          <div class="error-msg" *ngIf="Description.invalid && (Description.dirty || Description.touched || formInvalid)">
            <span *ngIf="Description.errors.required">Description is required</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="custom-field" #Class="ngModel" name="Class" [(ngModel)]="i.Class" pattern="^[a-zA-Z0-9 ]*$" [disabled]="mode=='view'" required>
          <label for="">Class/ Type
            <span class="mandatory">*</span>
          </label>
          <div class="error-msg" *ngIf="Class.invalid && (Class.dirty || Class.touched || formInvalid)">
            <span *ngIf="Class.errors.required">Class is required</span>
            <span *ngIf="Class.errors?.pattern">Only AlphaNumeric should enter</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <select class="custom-field" [(ngModel)]="i.Status" #Status="ngModel" name="Status"
            [disabled]="mode=='view'" required>
            <option [value]="undefined" selected>---Select---</option>
            <option value=3>Active</option>
            <option value=4>Inactive</option>
          </select>
          <label for="">Status
            <span class="mandatory">*</span>
          </label>
          <div class="error-msg" *ngIf="Status.invalid && (Status.dirty || Status.touched || formInvalid)">
            <span *ngIf="Status.errors.required">Status is required</span>
          </div>
        </div>
      </div>
    </div>
<br>
    <div class="text-center">
      <button class="btn btn-primary" type="submit"  [disabled]="mode=='view'">Save</button>&nbsp;
      <button class="btn btn-primary" type="reset" [disabled]="mode=='view'">Cancel</button>
    </div>
  </div>
  </form>
</div>