<div class="wrapper prallotment">
    <div class="title themeheading">{{title}}
        <a class="btn btn-primary float-right" routerLink="/home/project-master">Back</a>
        <span class="clearfix"></span>
    </div>
    <div class="container-fluid">
  
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>Project ID</label>
                </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" placeholder=" " class="custom-field">
                <label>Project Name</label>
            </div>
            </div>
        </div>
  
  
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>Project Description</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                        <option value=""></option>
                      <option value="2">Land Sharing Project(40% land owner and 60% KHB)</option>
                        <option value="3">JV Project(90% developer and 10% KHB)</option>
                        <option value="4">Procurement,development and dispose(100% KHB)</option>
                    </select>
                    <label>Project Type</label>
                </div>
            </div>
  
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <label>Scheme</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <label>District</label>
                </div>
            </div>
  
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                    <label>Phase</label>
                </div>
            </div>
  
        </div>
  
    </div>
  
  
    <div class="btn-wrapper">
        <button class="btn btn-primary">Save</button>
        <button class="btn btn-primary">Cancel</button>
    </div>
  
  </div>
