<div class="wrapper">

  <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm,itemsPerPage,1)">
    <div class="title themeheading">{{title}}
      <div class="float-right">
        Items per page:
        <select name="SearchRows" #SearchRows="ngModel" [(ngModel)]="itemsPerPage" class="noofpage"
          (change)="itemsPerPageChanged(itemsPerPage, 1)">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <!-- <a class="btn btn-primary " [routerLink]="['/home/transfer/transferout-form']">Add</a> -->
      </div>
      <span class="clearfix"></span>
    </div>
    <div class="searchbar">
      <div class="container">
          <div class="row">
              <div class="col-md-1">
                  <label>Search</label>
              </div>
              <div class="col-md-4">
                  <select name="SearchCriteria" #SearchCriteria="ngModel" [(ngModel)]="s.SearchCriteria"
                      class="form-control" required>
                      <option [ngValue]="undefined" selected>---Select---</option>
                      <option value="DOC_CODE">Examination.No</option>
                      <!-- <option value="EAXM_TYPE">Exam Type</option>                             -->
                      <option value="EMP_EMPLOYEE_CODE">Employee Id</option>
                      <option value="EMP_FIRST_NAME">Employee Name</option>
                      <!-- <option value="EXAM_CATEGORY">Exam Category </option>
                      <option value="Subj">Subject</option> -->
                      <option value="DOC_DATE">Exam Date </option>
                      <option value="District">Division</option>
                      <option value="Department_Name">Department</option>
                  </select>
                  <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)"
                      class="error-msg">
                      <div *ngIf="SearchCriteria.errors.required">Search criteria is required</div>
                  </div>
              </div>
              <div class="col-md-4">
                  <input type="text" name="SearchText" #SearchText="ngModel" [(ngModel)]="s.SearchText"
                      class="form-control" placeholder="Search.." required>
                  <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
                      <div *ngIf="SearchText.errors.required">Search text is required</div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button class="btn btn-default" type="submit">Search</button>
                  <button class="btn btn-default" type="reset"
                      (click)="GetAllDepartmenentExamDetails(itemsPerPage, 1)">Clear</button>
              </div>
          </div>
      </div>
  </div>

    <br>
    <div class="table-responsive" id="auction-grid">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td rowspan="2">Sl No.</td>
            <td rowspan="2">Examination No.</td>
            <td rowspan="2">Examination Date</td>
            <td colspan="5" class="text-center">Employee Details</td>
            <td colspan="4" class="text-center">Approval/Rejection Procedure </td>
          </tr>
          <tr>
            <td>Employee Id</td>
            <td>Employee Name</td>
            <td>Division</td>
            <td>Department</td>
            <td>Status</td>
            <td>View</td>
            <td>Approve</td>
            <td>Reject</td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of ExamDetails | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index"
            [class.Blue]="e.DOC_STATUS == 'A'" [class.Red]="e.DOC_STATUS == 'R'" [class.DGreen]="e.DOC_STATUS == 'S'">
            <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
            <td>{{e.ExaminationNo}}</td>
            <td>{{e.DOC_DATE |date:'dd/MM/yyyy'}}</td>
            <td>{{e.EMP_EMPLOYEE_CODE}}</td>
            <td>{{e.EMP_FIRST_NAME}}</td>
            <td>{{e.District}}</td>
            <td>{{e.Department_Name}}</td>
            <td>{{e.Doc_STATUSes}}</td>
            <td class="text-center">
              <a (click)="View(e.EXAMINATION_ID)">
                  <i class="fa fa-lg fa-eye themecolor"></i>
              </a>
          </td> 
            <td *ngIf="e.DOC_STATUS == 'G'">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" (change)="handleChange2(e.EXAMINATION_ID)"
                  name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Approve</label>
              </div>
            </td>
            <td *ngIf="e.DOC_STATUS != 'G'">--</td>
            <td *ngIf="e.DOC_STATUS == 'G'">
              <div class="form-check form-check-inline">
                <input class="form-check-input" data-toggle="modal" (change)="handleChange1(e.EXAMINATION_ID)"
                  data-target=".bd-example-modal-xl" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Reject</label>
              </div>
            </td>
            <td *ngIf="e.DOC_STATUS != 'G'">--</td>
          </tr>

        </tbody>
      </table>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11">
            <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)" maxSize="9"
              directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next"
              screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div class="col-md-1">
            Total:
            <span>{{totalItems}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Examination</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for=""> Remarks </label>
                    <textarea cols="30" rows="10" class="custom-field" [(ngModel)]="a.remarks" #remarks="ngModel"
                      name="remarks" [disabled]="mode=='view'"></textarea>
                  </div>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button class="btn btn-primary" data-dismiss="modal" (click)="save(a.remarks)">Save</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>