<div class="wrapper">
  <div class="title themeheading">{{title}}
    <div class="float-right">
      <a class="btn btn-primary" routerLink="/home/project-phase">Back</a>
    </div>
    <span class="clearfix"></span>
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6">
          <div class="input-group">
              <input type="text" class="custom-field" #PP_Pd_Id_Fk="ngModel" name="PP_Pd_Id_Fk" [(ngModel)]="proj.PP_Pd_Id_Fk"
                  list="dynmicUserIds"/>
              <datalist id="dynmicUserIds">
                  <option *ngFor="let item of projectlist" [value]="item.PD_Id" style="height:150px; width:150px;margin-bottom:50px;">
                      {{item.PD_Project_Code}} - {{item.PD_Project_Name}} - {{item.Phase_Name}}
                  </option>
              </datalist>
              <label>Project</label>
              
          </div>

        <!-- <div class="input-group">
          <select #PP_Pd_Id_Fk="ngModel" name="PP_Pd_Id_Fk" [(ngModel)]="proj.PP_Pd_Id_Fk" class="custom-field" [disabled]="mode=='view'">
            <option value="undefined">---Select---</option>
            <option *ngFor="let project of projectlist" [value]="project.PD_Id">
              {{project.PD_Project_Code}} - {{project.PD_Project_Name}} - {{project.Phase_Name}}
            </option>
          </select>
          <label>Project</label>
        </div> -->
      </div>

      <div class="col-md-1">
        <button class="btn btn-primary" type="button" (click)="GetProjectDetailsforTownPlanning(proj.PP_Pd_Id_Fk,0)" [disabled]="mode=='view'">Go</button>
      </div>

    </div>


    <div class="row">
      <div class="col-md-6">
        <label>
          <span class="field-title">Project</span>: {{projectDetails.PD_Project_Name}}</label>
      </div>
      <div class="col-md-6">
        <label>
          <span class="field-title">Scheme</span>: {{projectDetails.Sch_Name}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>
          <span class="field-title">District</span>: {{projectDetails.DI_District}}</label>
      </div>
      <div class="col-md-6">
        <label>
          <span class="field-title">Block</span>: {{projectDetails.TA_Taluk}}</label>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <label>
          <span class="field-title">Village</span>: {{projectDetails.PD_Village}}</label>
      </div>
      <!-- <div class="col-md-6">
        <label>
          <span class="field-title">Hobli</span>: {{projectDetails.HO_Name}}</label>
      </div> -->
    </div>


    <div class="row">
      <div class="col-md-1"> <label>
          <span class="field-title">Phase</span> </label>
      </div>

      <div class="col-md-5">
        <div class="input-group">
          <select id="PP_Phase_Id_Fk" [disabled]="mode=='view'" name="PP_Phase_Id_Fk" [(ngModel)]="ProjPhase.PP_Phase_Id_Fk"
            #PP_Phase_Id_Fk="ngModel" style="width:100%;height: 35px;border-radius: 4px;" class="custom-field">
            <option [ngValue]="undefined" selected>--Select--</option>
            <option [value]="pha.Phase_Id" *ngFor="let pha of Phaselist">{{pha.Phase_Name}}</option>
          </select>
          <!-- <label>Phase
            <span class="mandatory">*</span>
          </label> -->
          <!-- <div class="error-msg" *ngIf="PD_Phase.invalid && (PD_Phase.dirty || PD_Phase.touched || formSubmitted)">
            <span *ngIf="PD_Phase.errors.required">Phase is required</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>


  <div class="table-responsive" style="margin-top:15px">
    <table class="table table-bordered" style="width: 1800px;">
      <thead>
        <tr>
          <td rowspan="2">Sl No.</td>
          <td rowspan="2">LTP Id</td>
          <td rowspan="2">Survey No.</td>
          <td rowspan="2">Land Owner</td>
          <td rowspan="2"> Extends </td>

          <td rowspan="2"> Latitude </td>
          <td rowspan="2"> Longitude </td>
          <td rowspan="2">Akar </td>
          <td rowspan="2">Land Type</td>

          <td rowspan="2"> North </td>
          <td rowspan="2"> East </td>
          <td rowspan="2">West </td>
          <td rowspan="2">South</td>

          <td rowspan="2">Sharing Pattern </td>
          <td rowspan="2"> CAD </td>
          <td rowspan="2">Sketch </td>


          <td colspan="2" class="text-center">Extent</td>
          <td colspan="2" class="text-center">Tippani</td>
          <td rowspan="2">Atlas</td>
          <td rowspan="2">Khatha</td>
          <td rowspan="2">EC</td>
          <td rowspan="2">RTC</td>
          <td rowspan="2">Revenue Sketch</td>
          <td rowspan="2">PT sheet</td>
          <td rowspan="2">Akar Bandh</td>
          <td rowspan="2">JMC</td>
          <td rowspan="2">Select</td>
          <!-- <td rowspan="2">Select</td> -->
          <!-- <td rowspan="2">Note</td> -->
        </tr>
        <tr>
          <td class="text-center">Acres</td>
          <td class="text-center">Guntas</td>
          <td>No</td>
          <td>Date</td>
        </tr>
      </thead>

      <tbody class="data-grid">
        <tr *ngFor="let info of LandRecordDetailswithLTP;let i=index" [ngClass]="{'planning':info.LR_From =='Planning'}">
          <td>{{i+1}} </td>
          <td>{{info.LR_LTP_Id_Fk}}</td>
          <td>{{info.LR_SurveyNo}}</td>
          <td>{{info.LR_Owner}}</td>
          <td>{{info.LD_Extents}}</td>
          <td>{{info.LD_Latitude}}</td>
          <td>{{info.LD_Longitude}}</td>
          <td>{{info.LD_Akar}}</td>
          <td>{{info.LandType_Name}}</td>
          <td>{{info.LD_North}}</td>
          <td>{{info.LD_East}}</td>
          <td>{{info.LD_West}}</td>
          <td>{{info.LD_South}}</td>
          <td>{{info.SharingPattern_Name}}</td>
          <td>
            <span *ngIf="info.LD_Cad != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LD_Cad == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LD_Sketch != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LD_Sketch == null">No</span>
          </td>
          <td>{{info.LR_ExtentinAcres}}</td>
          <td>{{info.LR_ExtentinGuntas}}</td>
          <td>{{info.LR_Tippani_No}}</td>
          <td>{{info.LR_Tippani_Date | date:'dd-MM-yyyy'}}</td>

          <td>
            <span *ngIf="info.LR_Atlas != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_Atlas == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_Khatha != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_Khatha == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_EC != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_EC == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_RTC != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_RTC == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_Revenue_Sketch != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_Revenue_Sketch == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_PTSheet != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_PTSheet == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_Akar_Bandh != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_Akar_Bandh == null">No</span>
          </td>
          <td>
            <span *ngIf="info.LR_JMC != null">
              <a href="javascript:void(0);">Yes</a>
            </span>
            <span *ngIf="info.LR_JMC == null">No</span>
          </td>
          <td>
            <input type="checkbox" [value]="info.LR_Selected" name="LR_Selected" [checked]="info.LR_Selected===true"
              (change)="changeCheckbox(info.LR_Id,info.LR_Selected)">
          </td>

        </tr>

      </tbody>
    </table>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <label for="">File Upload</label>
        <input type="file" #PP_File="ngModel" name="PP_File" [(ngModel)]="ProjPhase.PP_File" #Image accept="application/pdf"
          (change)="PPFileInput($event.target.files)" id="PP_File" [disabled]="mode=='view'">
      </div>
    </div>
    <div class="col-md-2">
      <a class="float-right" *ngIf="ProjPhase.PP_File!=null && (mode=='view' || mode=='edit')" target="_blank" href="{{ProjPhase.PP_File}}">view</a>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <label for="">Note</label>
        <!-- <input type="text"> -->
        <textarea name="" id="" cols="30" rows="10" [disabled]="mode=='view'" class="custom-field" #PP_Note="ngModel" name="PP_Note" [(ngModel)]="ProjPhase.PP_Note"></textarea>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="button" [disabled]="mode=='view'" (click)="SaveSurveyNoforProjectPhase(ProjPhase,proj.PP_Pd_Id_Fk)">Create
      Phase</button>
  </div>
</div>