<div class="wrapper">
  <div class="title themeheading">
    Initialize Payroll Process
  </div>
  <div class="container-fluid">
    <!-- <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <input type="date" class="custom-field">
          <label for="">Year month</label>
        </div>
      </div>
    </div>   -->
    <div class="row justify-content-center">
      <div class="col-md-4">
        <label for="">Month Year :</label> <span> </span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <select class="custom-field">
            <option value="">--Select--</option>
            <option value="">Officers</option>
            <option value="">Officials</option>
          </select>
          <label for="">Employee Category</label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group">
          <select class="custom-field">
            <option value="">--Select--</option>
          </select>
          <label for="">Division</label>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center">
      <button class="btn btn-change">Process</button>
      <button class="btn btn-change">Cancel</button>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-striped grid">
        <thead>
          <tr>
            <td>Sl No.</td>
            <td>Employee Id </td>
            <td>Employee Name</td>
            <td>Deduction Code</td>
            <td>Month</td>
            <td>Year</td>
            <td>Amount</td>
            <td>Reference Doc.No.</td>
            <td>Reference Month Year</td>
            <td>Edit</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> 1 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">
              <a href="javascript:void(0);">
                <i class="fa fa-lg fa-edit themecolor"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>