<div class="wrapper">
  <form #searchForm="ngForm" >
    <div class="searchbar">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <label>Search</label>
                </div>
                <div class="col-md-4">
                    <select name="SearchCriteria"  class="form-control" required>
                        <option [ngValue]="undefined" selected>---Select---</option>
                        <option value="office-code">Office code</option>
                        <option value="office-name">Office name</option>
                        <option value="address">Address</option>
                        <option value="email">Email</option>
                    </select>
                    <!-- <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)" class="error-msg">
                        <div *ngIf="SearchCriteria.errors.required">Search criteria is required</div>
                    </div> -->
                </div>
                <div class="col-md-4">
                    <input type="text" name="SearchText"  class="form-control" placeholder="Search.."
                        required>
                    <!-- <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
                        <div *ngIf="SearchText.errors.required">Search text is required</div>
                    </div> -->
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" type="submit">Search</button>
                    <button class="btn btn-default" type="reset" >Clear</button>
                </div>
            </div>
        </div>
    </div>

    <div class="title themeheading">{{title}}
        <div class="float-right">
            Items per page :
            <select >
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            
        </div>
        <span class="clearfix"></span>
    </div>

    <div class="table-responsive">
        <table class="table table-striped grid">
            <thead>
                <tr>
                    <td>Sl No.</td>
                    <td>Application No.</td>
                    <td>Date</td>
                    <td>Notification</td>
                    <td>Status <span style="font-size:11px;">(Applied / Eligible / Not Eligible / Refund)</span></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>1</td>
                  <td>001</td>
                  <td>14-04-2018</td>
                  <td></td>
                  <td>Refund</td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-11">
                    <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                        autoHide="false" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
                <div class="col-md-1">
                    Total
                    <span>{{totalItems}}</span>
                </div>
            </div>
        </div> -->
    </div>
</form>

</div>