<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <!-- <button class="btn btn-change float-right" routerLink="/home/payroll/allowance-code-grid/allowance-code">Add</button> -->
    <span class="clearfix"></span>
  </div>
  <div class="searchbar">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <label>Search</label>
        </div>
        <div class="col-md-4">
          <select class="form-control">
            <option>---Select---</option>
          </select>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="Search..">
        </div>
        <div class="col-md-3">
          <button class="btn btn-default" type="submit">Search</button>
          <button class="btn btn-default" type="reset">Clear</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No.</td>
          <td>Emp Code</td>
          <td>Emp Name</td>
          <td>Month</td>
          <td>Year</td>
          <td>Working Days</td>
          <td>Attended Days</td>
          <td>Leaves</td>
          <td>Paid Leaves</td>
          <td>Paid Holiday</td>
          <td>Un-Adjusted Days</td>          
          <td class="text-center">Edit</td>
          <td class="text-center">Finalized Indicator</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);" >
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <input type="checkbox" class="form-control">
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>