<div class="wrapper">
  <div class="title themeheading">
    Dashboard - Technical
  </div>
  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Sl No.</td>
            <td>Project Name</td>
            <td>Progress %</td>
            <td>Project Budget</td>
            <td>Budget Spent</td>
            <td>Budget Spent %</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>Kenchalgaudu</td>
            <td>50</td>
            <td>30000000</td>
            <td>15000000</td>
            <td>50</td>
          </tr>
          <tr>
              <td>2.</td>
              <td>Bangalore</td>
              <td>30</td>
              <td>60000000</td>
              <td>15000000</td>
              <td>25</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>