.row{
    padding:20px 0px 0px;
}

.row:nth-child(odd){
    background: #f3f3f3;
}
.label-color{
    color:blue;
}
.display-content{
    margin: 10px 15px;
    border: 1px solid gray;
    padding: 15px;
}
span{
    font-weight: 700;
}