<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="sidemenu">
        <ul class="billmenu">
          <li><a [routerLink]="['/home/empseparation/']"> Employee Retirements Lists </a></li>
          <li><a [routerLink]="['emp-separations']"> Employee Separation </a></li>
          <li><a [routerLink]="['emp-sep-authorization']"> Emp-Separation Approval </a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="sidemenu">
        <!-- <ul class="billmenu" *ngFor="let p of subpageslist">
          <li><a [ngClass]="{'alert-primary':p.KSP_Redirect_URL === localurl}" (click)="geturl(p.KSP_Redirect_URL)" routerLink="{{p.KSP_Redirect_URL}}">{{p.KSP_Name}}</a></li>              
        </ul> -->
        <ul class="billmenu">
          <li><a [routerLink]="['/home/empseparation/']"> Employee Retirements Lists </a></li>
          <li><a [routerLink]="['emp-separations']"> Employee Separation </a></li>
          <li><a [routerLink]="['emp-sep-authorization']"> Emp-Separation Approval </a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>