<div class="wrapper">
  <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm,itemsPerPage,1)">
    <div class="title themeheading">{{title}}
      <div class="float-right">
        Items per page:
        <select name="SearchRows" #SearchRows="ngModel" [(ngModel)]="itemsPerPage" class="noofpage"
          (change)="itemsPerPageChanged(itemsPerPage, 1)">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>        
      </div>
      <span class="clearfix"></span>
    </div>
    <div class="searchbar">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <label>Search</label>
          </div>
          <div class="col-md-4">
            <select name="SearchCriteria" #SearchCriteria="ngModel" [(ngModel)]="s.SearchCriteria" class="form-control">
              <option [ngValue]="undefined" selected>---Select---</option>
              <option value="EMP_EMPLOYEE_CODE">Employee Id</option>
              <option value="EMP_FIRST_NAME">Employee Name</option>
              <option value="Department_Name">Department</option>
              <option value="leave_name">Leave Type</option>
            </select>
            <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)" class="error-msg">
              <div *ngIf="SearchCriteria.errors.required">Search criteria is required</div>
            </div>
          </div>
          <div class="col-md-4">
            <input type="text" name="SearchText" #SearchText="ngModel" [(ngModel)]="s.SearchText" class="form-control"
              placeholder="Search.." required>
            <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
              <div *ngIf="SearchText.errors.required">Search text is required</div>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-default" type="submit">Search</button>
            <button class="btn btn-default" type="reset"
              (click)="GetEmployeeLeaveDetails(itemsPerPage, 1)">Clear</button>
          </div>
        </div>

      </div>
    </div>
    <!-- </div> -->
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <label for=""> Division </label>
            <select class="custom-field" [(ngModel)]="c.DI_Id" #DI_Id="ngModel" name="DI_Id" 
              required (change)="ChangeDivision(c.DI_Id)">
              <option [value]="undefined" selected>---Select---</option>
              <option [value]="r.DI_Id" *ngFor="let r of districtlist;">
                {{r.DI_District}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
   
    <div class="table-responsive" id="auction-grid">
      <!-- <table class="table table-striped table-bordered"  *ngIf="filter == true">
        <thead>
          <tr>
            <td rowspan="2">Sl No.</td>
            <td rowspan="2">Leave Application No.</td>
            <td rowspan="2">Date</td>
            <td colspan="4" class="text-center">Employee Details</td>
            <td colspan="4" class="text-center">Approval/Rejection Procedure </td>
          </tr>
          <tr>
            <td>Employee Id</td>
            <td>Employee Name</td>
            <td>Division</td>
            <td>Department</td>
            <td>Status</td>
            <td>View</td>
            <td>Approve</td>
            <td>Reject</td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let e of EmployeeLeaveDetails | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index">
            <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
            <td>{{e.AppNo}}</td>
            <td>{{e.DOC_DATE |date:'dd/MM/yyyy'}}</td>
            <td>{{e.EMP_EMPLOYEE_CODE}}</td>
            <td>{{e.EMP_FIRST_NAME}}</td>
            <td>{{e.District}}</td>
            <td>{{e.Department_Name}}</td>
            <td>{{e.LeaveStatus}}</td>
            <td class="text-center">
              <a (click)="GotoView(e.LEAVE_APPL_ID)">
                <i class="fa fa-lg fa-eye themecolor"></i>
              </a>
            </td>
            <td>
              <div class="form-check form-check-inline" *ngIf="e.LEAVE_APP_STATUS != 4062">
                <input class="form-check-input" (change)="handleChange2(e.LEAVE_APPL_ID)" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Approve</label>
              </div>
              <div>
                <span *ngIf="e.LEAVE_APP_STATUS == 4062">Approved</span>
              </div>
            </td>
            <td>
              <div class="form-check form-check-inline" *ngIf="e.LEAVE_APP_STATUS != 4065">
                <input class="form-check-input" data-toggle="modal" (change)="handleChange1(e.LEAVE_APPL_ID)"
                  data-target=".bd-example-modal-xl" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Reject</label>
              </div>
              <div>
                <span *ngIf="e.LEAVE_APP_STATUS == 4065">Rejected</span>
              </div>
            </td>

          </tr>

        </tbody>
      </table> -->

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <td rowspan="2">Sl No.</td>
            <td rowspan="2">Leave Application No.</td>
            <td rowspan="2">Date</td>
            <td colspan="4" class="text-center">Employee Details</td>
            <td colspan="4" class="text-center">Approval/Rejection Procedure </td>
          </tr>
          <tr>
            <td>Employee Id</td>
            <td>Employee Name</td>
            <td>Division</td>
            <td>Department</td>
            <td>Status</td>
            <td>View</td>
            <td>Approve</td>
            <td>Reject</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of  EmployeeLeaveDetails | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index"
          [class.Blue]="e.LEAVE_APP_STATUS == 4062"
          [class.Red]="e.LEAVE_APP_STATUS == 4065"
          [class.DGreen]="e.LEAVE_APP_STATUS == 4064">
            <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
            <td>{{e.AppNo}}</td>
            <td>{{e.DOC_DATE |date:'dd/MM/yyyy'}}</td>
            <td>{{e.EMP_EMPLOYEE_CODE}}</td>
            <td>{{e.EMP_FIRST_NAME}}</td>
            <td>{{e.District}}</td>
            <td>{{e.Department_Name}}</td>
            <td>{{e.LeaveStatus}}</td>
            <td class="text-center">
              <a (click)="GotoView(e.LEAVE_APPL_ID)">
                <i class="fa fa-lg fa-eye themecolor"></i>
              </a>
            </td>
            <td>
              <div class="form-check form-check-inline" *ngIf="e.LEAVE_APP_STATUS == 4061">
                <input class="form-check-input" (change)="handleChange2(e.LEAVE_APPL_ID)" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Approve</label>
              </div>
              <div>
                <span *ngIf="e.LEAVE_APP_STATUS != 4061">--</span>
              </div>
            </td>
            <td>
              <div class="form-check form-check-inline" *ngIf="e.LEAVE_APP_STATUS == 4061">
                <input class="form-check-input" data-toggle="modal" (change)="handleChange1(e.LEAVE_APPL_ID)"
                  data-target=".bd-example-modal-xl" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Reject</label>
              </div>
              <div>
                <span *ngIf="e.LEAVE_APP_STATUS != 4061">--</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>



      <div class="container-fluid">
        <div class="row">
          <div class="col-md-11">
            <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)" maxSize="9"
              directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next"
              screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
          <div class="col-md-1">
            Total:
            <span>{{totalItems}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Leave Approval</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for=""> Remarks </label>
                    <textarea cols="30" rows="10" class="custom-field" [(ngModel)]="a.remarks" #remarks="ngModel"
                      name="remarks" [disabled]="mode=='view'"></textarea>
                  </div>
                </div>
              </div>
              <br>
              <div class="text-center">
                <button class="btn btn-primary" (click)="save(a.remarks)">Save</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </form>
</div>