<div class="wrapper">
  <div class="title themeheading">
    Control Parameters for payroll
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Division Code :</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Finance Year :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">No. working hours :</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Current Year :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Bonus Percentage </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Bonus Ceiling Amount</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Exgratia Percentage</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Exgratia Max wage</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Exgratia Ceiling Amount</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Gratuity Percentage</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Gratuity Max wage</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Gratuity Ceiling Amount</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <select name="" id="" class="custom-field">
            <option value="">--Select--</option>
            <option value="">Allowance/Deduction Level</option>
            <option value="">Net Pay Level</option>
          </select>
          <label for="">Round Off</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select name="" id="" class="custom-field">
            <option value="">--Select--</option>
            <option value="">Upward</option>
            <option value="">Downward</option>
          </select>
          <label for="">Round Off by</label>
        </div>
      </div>
    </div>



    <!-- <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Start month</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">End month</label>
        </div>
      </div>
    </div> -->
    <div class="title themeheading rowmarginfix">
      Payroll Info
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Effective Date :</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Last Process Date :</label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Post Process Date :</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Present Month :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <!-- <input type="text" class="custom-field"> -->
          <label for="">Last Month :</label>
        </div>
      </div>
    </div>

    <!-- <div class="title themeheading rowmarginfix">
      Contribution Ceiling
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">PF %</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">EPS %</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Employers PF %</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">EPS Max wage</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">EPF Max wage</label>
        </div>
      </div>
    </div>
    <div class="title themeheading rowmarginfix">
      Officials Benefits
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">CCA %</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">CCA Amount</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">DA %</label>
        </div>
      </div>
    </div>
    <div class="title themeheading rowmarginfix">
      Officers Benefits
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">CCA %</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">CCA Amount</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">DA %</label>
        </div>
      </div>
    </div>
    <div class="title themeheading rowmarginfix">
      Account Head Mapping
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Employee Category</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Account Code</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Officials </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="custom-field">
          <label for="">Officers </label>
        </div>
      </div>
    </div> -->

    <br>
    <div class="text-center">
      <button class="btn btn-change">Save</button>
      <button class="btn btn-change">Cancel</button>
    </div>
    <br>


  </div>
</div>