<div class="wrapper">
    <form>
      <div class="title themeheading">{{title}}
        <div class="float-right">

          <a class="btn btn-primary" [routerLink]="['/home/joint-venture/jv-exceptence-form']">Add</a>
  
        </div>
        <span class="clearfix"></span>
      </div>      
  
      <div class="table-responsive">
          <table class="table table-striped grid">
              <thead>
                  <tr>
                    <th>Sl.No</th>
                    <th>Project Name</th>
                    <th>Proposal Id</th>
                    <th>Agreement No.</th>
                    <th>Agreement Date</th>
                    <th>JV Id.</th>
                    <th>JV Date</th>
                    <th>Land Owner Name</th>
                    <th>Total Extent</th>
                    <th class="text-center"> View </th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let lp of LandPurchaseList | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index">                        
                      <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
                      <td>{{lp.PD_Project_Name}}</td>
                      <td>{{lp.PR_Id}}</td>
                      <td>{{lp.JV_Note_No}}</td>
                      <td>{{lp.JV_Note_Date | date:'dd/MM/yyyy'}}</td>
                      <td>{{lp.JV_Purchase_Id}}</td>
                      <td>{{lp.JV_Purchase_Date | date:'dd/MM/yyyy'}}</td>
                      <td>{{lp.LOD_LO_Name}}</td> 
                      <td>{{lp.TotalExtent}}</td>                   
                      <td>
                          <a href="#" [routerLink]="['/home/joint-venture/jv-exceptence-form',lp.JV_Id_PK,'view']">
                              <i class="fa fa-lg fa-eye themecolor"></i>
                          </a>
                      </td>
                      <td>
                          <a href="#" [routerLink]="['/home/joint-venture/jv-exceptence-form',lp.JV_Id_PK,'edit']">
                              <i class="fa fa-lg fa-edit themecolor"></i>
                          </a>
                      </td>
                      <td>
                          <a href="javascript:void(0);" (click)="delete(lp.JV_Id_PK)">
                              <i class="fa fa-lg fa-trash themecolor"></i>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-11">
                      <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                          autoHide="false" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                  </div>
                  <div class="col-md-1">
                      Total:
                      <span>{{totalItems}}</span>
                  </div>
              </div>
          </div>
      </div>
    </form>
  </div>
  
  
  