<!-- <div class="wrapper">
    <div class="title themeheading">
        {{title}}
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                        <option value="">--Select--</option>
                        <option value="">Mysore</option>
                        <option value="">Mandya</option>
                    </select>
                    <label>Project List</label>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary">Retreive</button>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>
                    <span class="field-title">Name</span>: </label>
            </div>
            <div class="col-md-6">
                <label>
                    <span class="field-title">DOB</span>: </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>
                    <span class="field-title">Age</span>: </label>
            </div>
            <div class="col-md-6">
                <label>
                    <span class="field-title">Mobile Number</span>: </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>
                    <span class="field-title">Email ID</span>: </label>
            </div>
            <div class="col-md-6">
                <label>
                    <span class="field-title">Address</span>:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>
                    <span class="field-title">Category</span>: </label>
            </div>
            <div class="col-md-6">
                <label>
                    <span class="field-title">Form Type</span>: </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>
                    <span class="field-title">Amount</span>: </label>
            </div>
            <div class="col-md-6">
                <label>
                    <span class="field-title">Fee</span>: </label>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <label>Upload Cancellation Request</label>
            </div>
            <div class="col-md-4">
                <input type="file">
            </div>

            <div class="col-md-2">
                <label>Allotment Cancellation by ARO/AEE</label>
            </div>
            <div class="col-md-4">
                <input style="font-size:25px " class="form-check-input" type="checkbox">
            </div>
        </div>

        <div class="btn-wrapper text-center">
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-primary">Cancel</button>
        </div>
    </div>
</div> -->