<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <button class="btn btn-primary pull-right" [routerLink]="['/home/court']">Back</button>
    <span class="clearfix"></span>
  </div>

  <form (ngSubmit)="mode=='edit'?UpdateCourt(Court):SaveCourt(Court)" #Court="ngForm" name="Court">

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <!-- <div class="form-group input-group">
            <input type="text" class="form-control custom-field">
            <label for="">District Code</label>
          </div> -->


          <div class="input-group form-group">
            <input type="text" class="custom-field" name="Court_Code" maxlength="10" [(ngModel)]="c.Court_Code"
              #Court_Code="ngModel" [disabled]="mode=='view'" pattern="^[a-zA-Z0-9 ]*$" required>
            <label for="">Court Code.
              <span class="mandatory">*</span>
            </label>

            <div class="error-msg" *ngIf="Court_Code.invalid && (Court_Code.dirty || Court_Code.touched || formInvalid)">
              <span *ngIf="Court_Code.errors.required">court code is required</span>
              <span *ngIf="Court_Code.errors?.pattern">Only AlphaNumeric should enter</span>
            </div>
          </div>


        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <!-- <div class="form-group input-group">
            <input type="text" class="form-control custom-field">
            <label for="">District</label>
          </div> -->



          <div class="input-group form-group">
            <input type="text" class="custom-field" name="Court_Name" maxlength="50" [(ngModel)]="c.Court_Name"
              #Court_Name="ngModel" [disabled]="mode=='view'" pattern="^[a-zA-Z0-9 ]*$" required>
            <label for="">Court.
              <span class="mandatory">*</span>
            </label>

            <div class="error-msg"
              *ngIf="Court_Name.invalid && (Court_Name.dirty || Court_Name.touched || formInvalid)">
              <span *ngIf="Court_Name.errors.required">court is required</span>
              <span *ngIf="Court_Name.errors?.pattern">Only AlphaNumeric should enter</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-wrapper text-center">
        <button [disabled]="mode=='view'"class="btn btn-primary" type="submit">Save</button><button [disabled]="mode=='view'" class="btn btn-primary" type="button"  (click)="Cancel()">Cancel</button>
      </div>
    </div>

  </form>
</div>
