<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="input-group">
        <select name="" id="" class="custom-field">
          <option value="">--Select--</option>
        </select>
        <label>Deduction Code</label>
      </div>
    </div>
    <div class="col-md-4">
      <label> Description :</label>
    </div>
    <div class="col-md-2">
      <div class="input-group">
        <input type="text" class="custom-field">
        <label>Loan No</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="custom-field">
        <label> Description</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <select name="" id="" class="custom-field">
          <option value="">--Select--</option>
        </select>
        <label>Loan Type</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="custom-field">
        <label>Loan Amount</label>
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="custom-field">
        <label>Interest Rate</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="custom-field">
        <label>No.of Installments</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="custom-field">
        <label>Installment Amount</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="month" class="custom-field">
        <label>Recovery Start Month</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Loan Recovered :</label>
    </div>
    <div class="col-md-4">
      <label>Loan Balance :</label>
    </div>
    <div class="col-md-4">
      <label>No.of Installments Paid :</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label> Interest Accured :</label>
    </div>
    <div class="col-md-4">
      <label>Interest Recovered :</label>
    </div>
    <div class="col-md-4">
      <label>Interest Balance :</label>
    </div>
  </div>

  <br>
  <div class="text-center">
    <button class="btn btn-primary">Add</button>   
  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Sl.No.</th>
          <th>Loan No</th>
          <th>Loan Type</th>
          <th>Loan Paid Date</th>
          <th>Recovery Start Month</th>
          <th>Loan Amount</th>
          <th>Loan Balance</th>
          <th class="text-center">View</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>