<div class="wrapper propertyregister">
  <div class="title themeheading">{{title}}
    <a class="btn btn-primary float-right" routerLink="/home/landrecord">Back</a>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">MGRY</option>
          </select>
          <label>Scheme</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">Ramnagara</option>
          </select>
          <label>District</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">KHB</option>
          </select>
          <label>Project</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
            <option value=""></option>
            <option value="1">I</option>
            <option value="2">II</option>
            <option value="3">III</option>
          </select>
          <label>Phase</label>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="custom-field" placeholder=" ">
          <label>Survey No</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="custom-field" placeholder=" ">
          <label>Owner</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="custom-field" placeholder=" ">
          <label>Area</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Land Records</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Sale Deed</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Khatha</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <label>EC</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>RTC</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Revenue Sketch</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <label>PT Sheet</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>

    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Akar Bandh</label>
      </div>
      <div class="col-md-4">
        <input type="file">
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="input-group">
            <textarea class="custom-field" placeholder=" "></textarea>
          <label>Remarks</label>
        </div>
      </div>
      </div>


    <div class="btn-wrapper">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-primary">Cancel</button>
    </div>
  </div>

</div>