<div class="wrapper">

  <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm,itemsPerPage,1)">
    <div class="title themeheading">
        Show Cause Notice
      <!-- {{title}} -->
      <div class="float-right">
        Items per page:
        <select name="SearchRows" #SearchRows="ngModel" [(ngModel)]="itemsPerPage" class="noofpage"
          (change)="itemsPerPageChanged(itemsPerPage, 1)">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <!-- <a class="btn btn-primary " [routerLink]="['/home/dept-enquiry/show-cause-form']">Add</a> -->
      </div>
      <span class="clearfix"></span>
    </div>
    <div class="searchbar">
      <div class="container">
          <div class="row">
              <div class="col-md-1">
                  <label>Search</label>
              </div>
              <div class="col-md-4">
                  <select name="SearchCriteria" #SearchCriteria="ngModel" [(ngModel)]="s.SearchCriteria"
                      class="form-control" required>
                      <option [ngValue]="undefined" selected>---Select---</option>
                      <option value="DOC_CODE">SCN Number</option>
                      <option value="SCN_REPLY_DUE_DATE"> Date</option>
                      <option value="DOC_CODE1">Complaint No</option>
                      <option value="COMPLAINT_TYPE">Complaint Type</option>
                      <option value="DGO_NAME">DGO's Name</option>                  
                    
                  </select>
                  <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)"
                      class="error-msg">
                      <div *ngIf="SearchCriteria.errors.required">Search criteria is required</div>
                  </div>
              </div>
              <div class="col-md-4">
                  <input type="text" name="SearchText" #SearchText="ngModel" [(ngModel)]="s.SearchText"
                      class="form-control" placeholder="Search.." required>
                  <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
                      <div *ngIf="SearchText.errors.required">Search text is required</div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button class="btn btn-default" type="submit">Search</button>
                  <button class="btn btn-default" type="reset"
                  (click)="GetAllSCNDetails(itemsPerPage, 1)">Clear</button>
              </div>
          </div>
      </div>
  </div>
    <div class="table-responsive">
      <table class="table table-striped grid">
        <thead>
          <tr>
            <td>Sl No.</td>
            <td>SCN No</td>
            <td>Date</td>
            <td>Complaint No</td>            
            <td>Complaint Type</td>    
            <td>DGO'S Name</td>             
            <td class="text-center">View</td>
            <td class="text-center">Update</td>
          
          </tr>
        </thead>      
        <tbody>
          <tr *ngFor="let S of SCNlist | paginate: { id: 'pagination',itemsPerPage: itemsPerPage,currentPage: currentPage,totalItems: totalItems }; let i=index"
          [ngClass]="{'inactive':S.INACTIVE=='Y'}"
          
          [class.Blue]="S.DOC_STATUS == 'A'"
          [class.Red]="S.DOC_STATUS == 'R'"
          [class.DGreen]="S.DOC_STATUS == 'S'"
          [class.Green]="S.DOC_STATUS == 'G'">               
          <td>{{((currentPage-1)*itemsPerPage)+(i+1)}}.</td>
          <td>{{S.DOC_CODE1}}</td>
          <td>{{S.SCN_REPLY_DUE_DATE | date:'dd-MM-yyyy'}}</td>
          <td>{{S.DOC_CODE}}</td>
          <td>{{S.COMPLAINT_TYPE}}</td>
          <td>{{S.DGO_NAME}}</td>
        
          <td class="text-center">
              <a href="#" [routerLink]="['/home/dept-enquiry/show-cause-form',S.COMPLAINT_ID,S.SCN_ID,'SCN','View']">
                  <i class="fa fa-lg fa-eye themecolor"></i>
              </a>
          </td>
          <td class="text-center">
              <a href="#" [routerLink]="['/home/dept-enquiry/show-cause-form',S.COMPLAINT_ID,S.SCN_ID,'SCN','Edit']">
                  <i class="fa fa-lg fa-edit themecolor"></i>
              </a>
          </td>
          <!-- <td class="text-center">
              <a href="javascript:void(0);" (click)="delete(S.SCN_ID)">
                  <i class="fa fa-lg fa-trash themecolor"></i>
              </a>
          </td> -->
          </tr>
      </tbody>
      </table>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)"
                    maxSize="9" directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </div>
            <div class="col-md-1">
                Total:
                <span>{{totalItems}}</span>
            </div>
        </div>
    </div>
    </div>
  </form>
</div>