.searchbar{
    padding:10px;
    background: #212121;
}

label{
    color:#fff;
    margin-top:8px;
}

.form-control{
    padding:4px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}

button{
    width:100px;
    margin-right: 5px;
}
td{
    border: 1px solid #ddd;
}