.margin{
    margin-top: 10px;
}

/*
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 20px;
    margin-top: -55px;
}
*/

.btnallign{
    margin-top: -73px;
}

