td{
    border: 1px solid #ddd;
}

/*
.form{
    width:80%;
    margin:30px auto 0px;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    background: #fff;
    padding:0px;
}

.field-title{
    display:inline-block;
    width:100%;
    padding:5px 0px;
    font-size:1em;
    color:#8e8e8e;
}

.field-value{
    display:inline-block;
    padding:5px 0px;
    font-size:1em;
    color:#444;
    width:100%;
    word-break: break-word;
}

.applicant-img{
    max-width:130px;
}

.header{
    border-bottom:1px solid #f3f3f3;
    border-right:1px solid #f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.body .col-md-3:nth-child(even){
    border-right:1px solid #f3f3f3;
}

.body .col-md-3{
    border-bottom:1px solid #f3f3f3;
}
*/

/*
.selector{
    padding:20px 10px 0px;
    background: #444;
    color:#fff;
}

.selector .input-group label{
    color:#fff;
    margin-bottom:3px;
}

.tab-wrapper ul{
    overflow: inherit;
}
*/


/*
@media(max-width:1000px){
    .form{
        width:90%;
    }
    
}

@media(max-width:480px){
    .form{
        width:100%;
    }
    
    .body .col-md-3:nth-child(odd){
        border-right:1px solid #f3f3f3;
    }
}


@media print{
    nav,.nav,#applicant-menu,.title,#app-filter,.table-responsive,#footer,.btn{
        display:none !important;
    }
}
*/

/*
.searchbar{
    padding:10px;
    background: #212121;
}

label{
    
        color: #1f34c7;
        margin-top: 1px;
    
}



.form-control{
    padding:4px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}

button{
    min-width:100px;
    margin-right: 5px;
}

.menu{
    width: 250px;
}

.notify.mat-tab-labels {
    background: #babb93 !important;
    margin-top: 27px;
}

.notify.mat-ink-bar{
    height: 6px;
}

.notify.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: rgba(66, 24, 142, 0.3);
}

.notify.mat-tab-label, .mat-tab-link {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.row{
    padding: 1em 0px 0px 0px !important;
   
}

.row:nth-child(odd){
    background: #f2f2f2;
}

#auction-form .grid input,
#auction-form .grid select{
    width:150px;
}
#auction-form .grid select{
    height: 30px;
}

#view-bidders table td,
#selectProperty table td{
    padding:5px;
    font-size:13px;
}

#selectProperty table button{
    font-size:12px;
    padding:3px;
}

#addProperty table{
    font-size:12px;
}
*/

