<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <button class="btn btn-primary float-right" [routerLink]="['/home/payroll/insurance']">Back</button>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="input-group">
                <label>Employee Id</label>
                <select class="custom-field"></select>
            </div>
        </div>
        <div class=" col-md-3 col-sm-3">
            <label for="">Employee Name :
                <span>Test Employee</span>
            </label>
        </div>
      
    </div>
    <div class="title themeheading rowmarginfix">
      Insurance Details
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Policy Number</label>
              <br>
              <input class="custom-field" type="text">
            </div>
          </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-group">
          <label>Insurance Company </label>
          <br>
          <input class="custom-field" type="text">
        </div>
      </div>
      
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Policy Period </label>
              <input class="custom-field" type="text">
            </div>
          </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-group">
          <label>Policy Maturity Date</label>
          <br>
          <input class="custom-field" type="date">
        </div>
      </div>
      
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Policy Insured Amount</label>
              <input class="custom-field" type="text">
            </div>
          </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-group">
          <label>Premium Amount </label>
          <br>
          <input class="custom-field" type="text">
        </div>
      </div>
      
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <label>Frequency of Premium </label>
              <br>
              <input class="custom-field" type="text">
            </div>
          </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-group">
          <label>Premium Due Date</label>
          <br>
          <input class="custom-field" type="date">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button class="btn btn-primary">Save</button> &nbsp;
    <button class="btn btn-primary">Cancel</button>
  </div>
</div>