<div class="wrapper sms">
    <div class="title themeheading">{{title}}<a class="btn btn-primary float-right" routerLink="/home/sms">Back</a><span class="clearfix"></span></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>SMS campaign ID</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>Notification No.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                    <label>Scheme</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                    <label>District</label>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>Project</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>Phase</label>
                </div>
            </div>
        </div>
        <div class="row">           
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" " class="custom-field">
                    <label>SMS content</label>
                </div>
            </div>
        </div>
    </div>

  
    <div class="btn-wrapper">
        <button class="btn btn-primary">Send</button>
        <button class="btn btn-primary">Cancel</button>
    </div>
      
  
  </div>