<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <button class="btn btn-primary float-right" [routerLink]="['/home/landpurchase/land-pur-agreement/land-pur-profession']">Back</button>
    <span class="clearfix"></span>
  </div>


  <form (ngSubmit)="mode=='edit'?UpdateLandPurchase(LandPurchaseForm):UpdateLandPurchase(LandPurchaseForm)"
  #LandPurchaseForm="ngForm" name="form1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <select #LP_PD_Id_FK="ngModel" name="LP_PD_Id_FK" [(ngModel)]="l.LP_PD_Id_FK" class="custom-field" required
              (change)="GetProjectId(l.LP_PD_Id_FK)">
              <option value="undefined">---Select---</option>
              <option *ngFor="let project of projectlist" [value]="project.PD_Id">
                {{project.PD_Project_Code}} - {{project.PD_Project_Name}} - {{project.Phase_Name}}
              </option>
            </select>
            <label>Project Name.<span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="LP_PD_Id_FK.invalid && (LP_PD_Id_FK.dirty || LP_PD_Id_FK.touched || formInvalid)">
              <span *ngIf="LP_PD_Id_FK.errors.required">Project is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <select #LP_Id_PK="ngModel" name="LP_Id_PK" [(ngModel)]="l.LP_Id_PK" class="custom-field" 
              (change)="GetProjectproposaldetails(l.LP_Id_PK)">
              <option value="undefined">---Select---</option>
              <option *ngFor="let agree of Agreementlist" [value]="agree.LP_Id_PK">
                {{agree.LP_Note_No}} 
              </option>
            </select>
            <label>Agreement No.<span class="mandatory">*</span>
            </label>
            <!-- <div class="error-msg" *ngIf="LP_PD_Id_FK.invalid && (LP_PD_Id_FK.dirty || LP_PD_Id_FK.touched || formInvalid)">
              <span *ngIf="LP_PD_Id_FK.errors.required">Project is required.</span>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Procurement Type : </label><span>{{ProposalFor=='Mix'?'Acquisition/Purchase/Joint Ventures':ProposalFor}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Scheme : </label><span>{{Sch_Name}}</span>
        </div>
        <div class="col-md-4">
          <label for="">District : </label><span>{{district}}</span>
        </div>
  
  
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="">Village/City/Colony : </label><span> {{Village}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Proposal receipt date : </label><span>{{Submitted_Date | date:'dd-MM-yyyy'}}</span>
        </div>
        <div class="col-md-4">
          <label for="">Agreement Number : </label><span>{{Agreement_Number}}</span>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4">
          <label for="">Agreement Date : </label><span> {{Agree_Date | date:'dd-MM-yyyy'}}</span>
        </div>
      
      </div>
  
  
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" placeholder=" " name="LP_Possession_No" [(ngModel)]="l.LP_Possession_No" #LP_Possession_No="ngModel"
              class="custom-field" [disabled]="mode=='view'" required>
            <label for="">Possession No.
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="LP_Possession_No.invalid && (LP_Possession_No.dirty || LP_Possession_No.touched || formInvalid)">
              <span *ngIf="LP_Possession_No.errors.required">Possession No. is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <input type="date" placeholder=" " name="LP_Possession_Date" [(ngModel)]="l.LP_Possession_Date" #LP_Possession_Date="ngModel"
              class="custom-field" [disabled]="mode=='view'" required>
            <label for="">Possession Date
              <span class="mandatory">*</span>
            </label>
            <div class="error-msg" *ngIf="LP_Possession_Date.invalid && (LP_Possession_Date.dirty || LP_Possession_Date.touched || formInvalid)">
              <span *ngIf="LP_Possession_Date.errors.required">Possession Date Date is required.</span>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-2">
          <label for="">Document</label>
        </div>
        <div class="col-md-4">
          <input type="file" #Image accept="application/pdf" (change)="imageUpload($event.target.files)" id="LP_POSfile_path"
            name="LP_POSfile_path" [(ngModel)]="l.LP_POSfile_path" #LP_POSfile_path="ngModel">
            <a class="" [hidden]="l.LP_POSfile_path==null" *ngIf="mode=='view' || mode=='edit'" target="_blank" href="{{l.LP_POSfile_path}}">view</a>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <textarea type="text" placeholder=" " name="LP_Possession_note" [(ngModel)]="l.LP_Possession_note" #LP_Possession_note="ngModel"
              class="custom-field" [disabled]="mode=='view'"></textarea>
            <label for="">Note</label>
          </div>
        </div>
      </div>
      <hr>

      <br>
      <div class="table-responsive">
        <table class="table table-striped grid table-bordered">
          <thead>
            <tr>
              <th rowspan="2">Sl.No</th>

              <th rowspan="2"> Land Owner Name </th>
              <th rowspan="2">Survey No</th>
              <th rowspan="2">Procurement Type</th>
              <th rowspan="2">Extent</th>
              <th rowspan="2">Akar</th>
              <th colspan="4" class="text-center">Schedule</th>
              <th rowspan="2">Agreement Status</th>
              <th rowspan="2">Purchase Status</th>
              <th rowspan="2" class="text-center"> Select </th>
            </tr>
            <tr>
              <th>North</th>
              <th>South</th>
              <th>East</th>
              <th>West</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sur of LandDetailslist;let i=index">
              <td>{{i+1}}</td>
              <td>{{sur.LOD_LO_Name}}</td>
              <td>{{sur.LD_SurveyNo}}</td>
              <td>{{sur.MOP_Name}}</td>
              <td>{{sur.LD_Extents}}</td>
              <td>{{sur.LD_Akar}}</td>
              <td>{{sur.LD_North}}</td>
              <td>{{sur.LD_South}}</td>
              <td>{{sur.LD_East}}</td>
              <td>{{sur.LD_West}}</td>
              <td>{{sur.LD_LPAId_Selected=='1'?'Accepted':''}}</td>
              <td>{{sur.LD_LPPId_Selected=='1'?'Accepted':''}}</td>
              <td class="text-center">
                <button type="button" *ngIf="sur.LD_LPPId_Selected==1 && sur.LD_LPPos_Selected!=1" (click)="selectexculdesurveyno(sur.LD_Id,'in',3,l.LP_PD_Id_FK,l.LP_Id_PK,sur.LOD_Id_PK)">Select
                </button>
                <button type="button" disabled *ngIf="sur.LD_LPPos_Selected==1" (click)="selectexculdesurveyno(sur.LD_Id,'in',3,l.LP_PD_Id_FK,l.LP_Id_PK,sur.LOD_Id_PK)">Selected
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-primary" [disabled]="mode=='view'" type="submit">Save</button>
        <!-- <button class="btn btn-primary" type="button">Cancel</button> -->
        <button class="btn btn-primary" type="reset" [disabled]="mode=='view'">Cancel</button>
      </div>
    </div>


  </form>
</div>