<div class="wrapper">
  <div class="title themeheading">
    {{title}}
    <div class="float-right">
          Items per page:
          <select >
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
          </select>
          <button class="btn btn-primary" [routerLink]="['qc-type-form']">Add</button>
      </div>      
    <span class="clearfix"></span>
  </div>
  <div class="searchbar">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <label>Search</label>
            </div>
            <div class="col-md-4">
                <select name="SearchCriteria"  class="form-control" required>
                    <option [ngValue]="undefined" selected>---Select---</option>                          
                </select>
                <!-- <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)" class="error-msg">
                    <div *ngIf="SearchCriteria.errors.required">Search criteria is required</div>
                </div> -->
            </div>
            <div class="col-md-4">
                <input type="text" name="SearchText"  class="form-control" placeholder="Search.."
                    required>
                <!-- <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
                    <div *ngIf="SearchText.errors.required">Search text is required</div>
                </div> -->
            </div>
            <div class="col-md-3">
                <button class="btn btn-default" type="submit">Search</button>
                <button class="btn btn-default" type="reset" >Clear</button>
            </div>
        </div>
    </div>
</div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Sl No.</td>
          <td></td>
          <td></td>
          <td></td>
          <td>View</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>