<!-- <ul class="billmenu-new header">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a [routerLink]="['/home/payroll/emp-salary-details']">Employee Basic Details</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['fixed-allowances']">Standard Earnings</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['fixed-deductions']">Fixed Deductions</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['variable-allowances']">Variable Allowances</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['variable-deductions']">Variable Deductions</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['loan-details']">Loan Details</a>
  </li>
</ul>
<div class="overflow">
  <router-outlet></router-outlet>
</div> -->



<router-outlet></router-outlet>