<div class="wrapper propertyregister">
    <div class="title themeheading">{{title}}<span class="clearfix"></span></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                    <option value=""></option>
                      <option value="1">MGRY</option>
                    </select>
                    <label>Scheme</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                        <option value=""></option>
                      <option value="1">Ramnagara</option>
                    </select>
                    <label>District</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                    <option value=""></option>
                      <option value="1">BSHB</option>
                    </select>
                    <label>Project</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select onclick="this.setAttribute('value', this.value);" value="" class="custom-field">
                     <option value=""></option>
                      <option value="1">I</option>
                      <option value="2">II</option>
                      <option value="3">III</option>
                    </select>
                    <label>Phase</label>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                            <input type="text" placeholder=" " class="custom-field " >
                        <label>Alloted Waiting List No</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                            <input type="date" placeholder=" " class="custom-field " >
                        <label>Date</label>
                    </div>
                </div>
            </div>

        

        <div class="btn-wrapper">
            <button class="btn btn-primary">Generate waiting list</button>
        </div>
    </div>

    <div class="table-responsive grid">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Sl No.</td>
              <td>Application No.</td>
              <td>Registration No.</td>
              <td>Name</td>              
              <td>Age</td>
              <td>DOB</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td>3</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
          </tbody>
        </table>
      </div>
  
  </div>
