<div class="wrapper">
  <div class="title themeheading">
    Promotion Authorization
    <button class="btn btn-primary float-right" [routerLink]="['/home/promotion/pro-auth-grid']">Back</button>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <label>Promotion No:</label>
      </div>
      <div class="col-md-4"><label for="">Date : <span>11/12/2019</span></label></div>
      <div class="col-md-4"><label for="">Status : <span> Pending </span></label></div>
    </div>
    <div class="title rowmarginfix themeheading">
      Employee Details
    </div>
    <div class="row">
      <div class="col-md-4">        
          <label for=""> Division Code :</label>         
      </div>
      <div class="col-md-4">        
          <label for="">Emp Code :</label>         
      </div>
      <div class="col-md-4">
        <label for=""> Name :</label> &nbsp; <span class="name"> Akash </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <label for="">Division : </label> &nbsp; <span class="name">Banglore</span>
      </div>
      <div class="col-md-4">
        <label for="">Department : </label> &nbsp; <span class="name">Admin</span>
      </div>
      <div class="col-md-4">
        <label for="">Designation : </label> &nbsp; <span class="name">S.D.A</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="">Employee Category : </label> &nbsp; <span class="name">Officials</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Group : </label> &nbsp; <span class="name">Group-B</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Type : </label> &nbsp; <span class="name">Permanent</span>
      </div>
    </div>

    <div class="title rowmarginfix themeheading">
      Present Designation & Pay scale
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Present Designation :</label>
      </div>
      <div class="col-md-6">
        <label>Present Pay Scale :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Present Basic Pay :</label>
      </div>
      <div class="col-md-6">
        <label>Last Promotion Type :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Last Promotion Date :</label>
      </div>
    </div>

    <div class="title rowmarginfix themeheading">
      Promotion Details [After Promotion]
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Designation :</label>
      </div>
      <div class="col-md-6">
        <label for="">Pay Scale :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Basic Pay :</label>
      </div>
      <div class="col-md-6">
        <label for="">Promotion Type :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Promotion W.E.F :</label>
      </div>
      <div class="col-md-6">
        <label for="">Next Promotion Due Date :</label>
      </div>
    </div>
    <br>

    <div class="title themeheading rowmarginfix">
      Base Documents for Promotion
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Sl No.</td>
            <td> Description of Documents</td>
            <td class="text-center"> Document View</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td> </td>
            <td class="text-center">
              <a href="javascript:void(0);">
                <i class="fa fa-lg fa-eye themecolor"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <!-- <div class="title themeheading rowmarginfix">
      Authorization & Sanction Details
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <label for="">Authorised</label>
          <select name="" id="" class="custom-field">
            <option value="">--Select--</option>
            <option value="">Yes</option>
            <option value="">No</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <label for="">Authorzed By :</label>
      </div>
      <div class="col-md-4">
        <label for="">Authorzed Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <label for="">Sanction</label>
          <select name="" id="" class="custom-field">
            <option value="">--Select--</option>
            <option value="">Yes</option>
            <option value="">No</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <label for="">Sanctioned By :</label>
      </div>
      <div class="col-md-4">
        <label for="">Sanction Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label for="">Remarks</label>
          <textarea name="" id="" cols="30" rows="10" class="custom-field"></textarea>
        </div>
      </div>
    </div>
    <br> -->
    
    
    <div class="title themeheading rowmarginfix">
      Authorization Details
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Authorzed : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio1" name="exampleRadios1">
            <label for="radio1">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio2" name="exampleRadios1">
            <label for="radio2">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Cancel : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio3" name="exampleRadios2">
            <label for="radio3">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio4" name="exampleRadios2">
            <label for="radio4">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Authorzed By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Authorzed Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Canceled By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Canceled Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label for="">Remarks</label>
          <textarea name="" id="" cols="30" rows="10" class="custom-field"></textarea>
        </div>
      </div>
    </div>
  </div>

  <br>


  <div class="text-center">
    <button class="btn btn-primary">Save</button>
    <button class="btn btn-primary">Cancel</button>
  </div>
</div>