<div class="wrapper">
  <div class="title themeheading">
    Standard Earnings
    <div class="float-right">
      <button class="btn btn-primary"
        routerLink="/home/payroll/emp-salary-details/fixed-allowances">Back</button>
      <span class="clearfix"></span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div>         
          <label for="">Cost To Company(CTC) :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <label for="">Basic Salary :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">is Basic Salary CTC based?</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>         
          <label for="">CTC(%) :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">is Basic Salary based on Payscale ? :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">Basic Salary :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>
          <label for="">DA Amount :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">is DA based on Basic Salary? :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">Basic Salary(%) :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>         
          <label for="">DA Flat Amount :</label>
        </div>
      </div>    
      <div class="col-md-4">
        <div>         
          <label for="">Fixed Dearness Allowance(FDA) :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">Variable Dearness Allowance(VDA) :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>
          <label for="">HRA Amount :</label>
        </div>
      </div>   
      <div class="col-md-4">
        <div>         
          <label for="">is HRA based on Basic Salary? :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">Basic Salary(%) :</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>         
          <label for="">HRA Flat Amount :</label>
        </div>
      </div>   
      <div class="col-md-4">
        <div>          
          <label for="">City Compensatory Allowance (CCA) Applicable? :</label>
        </div>
      </div>
      <div class="col-md-4">
        <div>         
          <label for="">CCA Amount :</label>
        </div>
      </div>
    </div>
  </div>
</div>