<div class="wrapper">

  <div class="title themeheading"> {{title}} <span class="clearfix"></span> </div>

  <div class="titleheading"> Basic Details </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Employee ID</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Name</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Sur Name</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <label> Father's Name/Husband Name </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Date of Birth</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Gender </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <label> Place of Birth </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Martial Status </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Height(in inches) </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <label> Weight (in KG) </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Blood Group </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Employee Type </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <label> Employee Category </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Designation </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Employment Source </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <label> Employee Group </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Date of Joining </label>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-6">
                
              </div> -->
    </div>
    <div class="row">
      <div class="input-group">
        <label> Address Line 1 </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Address Line 2</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>State</label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>District</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Taluk</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Village</label>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Pin Code</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Handicapped </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Handicap Type</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Aadhar Card Number</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>PAN Card Number</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Religion</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Caste</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Category </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Email Address </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Telephone/Mobile Number</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Alternate Mobile Number</label>
        </div>
      </div>
    </div>
  </div>
  <div class="titleheading"> Police Verification </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Employee Id </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Police Verification Details</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Ploice Verification</label>
        </div>
      </div>
    </div>
  </div>
  <div class="titleheading"> Medical Verification </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Medical Fitness No </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Identification Mark </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Mark</label>
        </div>
      </div>
    </div>
  </div>


  <div class="titleheading"> Dependent Details </div>

  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Employee Id</td>
          <td>Name</td>
          <td>Relationship</td>
          <td>Gender</td>
          <td>Aadhar Card Number</td>
          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="titleheading"> Employee Qualification </div>
 
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Employee Id</td>
          <td>Qualification</td>
          <td>University</td>
          <td>Year of Graduation</td>
          <td>Grade / Percentage</td>
          <td>Remarks</td>
          <td>Upload</td>
          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="titleheading"> Training Details </div>
 
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Employee Id</td>
          <td>Employee Name</td>
          <td> Training Type </td>
          <td> Training Category </td>
          <td> Subject </td>
          <td>Start Date</td>
          <td>End Date</td>
          <td> Certification Date </td>
          <td>Description</td>
          <td>Upload Certificate</td>
          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="titleheading"> HTA / LTA Details </div>
  
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Employee Id </td>
          <td> Employee Name</td>
          <td> Type of HTC/LTC </td>
          <td>Avalied Date</td>
          <td>Description</td>
          <td>Amount</td>
          <td>Upload HTC/LTC Document</td>
          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="titleheading">Transfer Details </div>
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Employee Id </td>
          <td>Employee Name</td>
          <td>Transfer Order Number </td>
          <td>Transfer Date</td>
          <td>Transfer Location</td>
          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="titleheading">Promotion Details </div>
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Doc. No. </td>
          <td>Date</td>
          <td>Status</td>
          <td>Division</td>
          <td>Employee Id</td>
          <td>Employee Name </td>
          <td>Present Scale </td>
          <td>Promotion Type </td>
          <td> Promotion Scale </td>
          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="titleheading"> Increment Details </div>
  <div class="table-responsive">
    <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No</td>
          <td>Employee Id </td>
          <td>Employee Name</td>
          <td> Employee Category </td>
          <td> Increment Due Month</td>

          <td class="text-center">View</td>
          <td class="text-center">Edit</td>
          <td class="text-center">Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-eye themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-edit themecolor"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="javascript:void(0);">
              <i class="fa fa-lg fa-trash themecolor"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Employee ID</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Name</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Date of Birth</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <label> Relationship </label>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Gender</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label> Aadhar card Number </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Email</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Educational Qualification </label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group">
          <label>Contact Number </label>
        </div>
      </div>
    </div>
  </div>  -->

  <!--  -->
  <!-- <div class="text-center">
    <button class="btn btn-primary">Save</button> &nbsp;
    <button class="btn btn-primary">Cancel</button>
  </div> -->
</div>