<div class="title themeheading">
  Add Work order
  <!-- <button class="btn btn-primary float-right">Back</button> -->
  <span class="clearfix"></span>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <div class="input-group"><select class="custom-field"><option value=""></option></select><label for="">Project</label></div>
      </div>
      <!-- <div class="col-md-6">
          <div class="input-group"><input type="text" class="custom-field"><label for="">City</label></div>
      </div> -->
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="input-group"><select class="custom-field"></select><label for="">Contractor</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><select class="custom-field"></select><label for="">Type of Work</label></div>
    </div>
      <!-- <div class="col-md-6">
          <div class="input-group"><input type="text" class="custom-field"><label for="">Currency</label></div>
      </div> -->
  </div>
  <div class="row">
      
      <div class="col-md-6">
          <div class="input-group"><input type="text" class="custom-field"><label for="">WO No.</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Value of Work Order</label></div>
    </div>
  </div>
  <div class="row">
      
      <div class="col-md-6">
          <div class="input-group"><input type="date" class="custom-field"><label for="">Work Order Issue date</label></div>
      </div>
      <div class="col-md-6">
        <div class="input-group"><input type="text" class="custom-field"><label for="">Valid Upto</label></div>
    </div>
  </div>
  <!-- <div class="row"> -->
      <!-- <div class="col-md-6">
          <div class="input-group"><input type="text" class="custom-field"><label for="">Value of Work Order</label></div>
      </div> -->
      
  <!-- </div> -->
  <div class="row">
    <div class="col-md-2">
        <label for="">Upload BOQ Document Copy</label>
    </div>
    <div class="col-md-4">
        <input type="file">
    </div>
      <div class="col-md-2">
          <label for="">Upload Work Order Copy</label>
      </div>
      <div class="col-md-4">
          <input type="file">
      </div>
  </div>
  <br>
  <div class="text-center">
      <button class="btn btn-primary">Issue Work order</button><button class="btn btn-primary">Cancel</button>
  </div>
  
</div>