<div class="wrapper">

  <form>

<!-- <div class="searchbar">
  <div class="container">
      <div class="row">
          <div class="col-md-1">
              <label>Search</label>
          </div>
          <div class="col-md-4">
              <select name="SearchCriteria" class="form-control" required>
                  <option [ngValue]="undefined" selected>---Select---</option>
                  <option value="office-code">Notification No.</option>
                  <option value="office-code">Scheme</option>
                  <option value="office-name">District</option>
                  <option value="address">Project</option>
                  <option value="address">Phase</option>
                  <option value="address">SMS content</option>
                  <option value="address">Reg. Count</option>
                  <option value="address">SMS sent</option>
              </select>
              <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)" class="error-msg">
                  </div>
          </div>
          <div class="col-md-4">
              <input type="text" name="SearchText" #SearchText="ngModel" [(ngModel)]="s.SearchText" class="form-control" placeholder="Search.."
                  required>
              <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
                  </div>
          </div>
          <div class="col-md-3">
              <button class="btn btn-default" type="submit">Search</button>
              <button class="btn btn-default" type="reset" (click)="GetAllOffices(itemsPerPage, 1)">Clear</button>
          </div>
      </div>
  </div>
</div> -->

<div class="title themeheading">{{title}}
<div class="float-right">
    Items per page:
    <select >
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
    </select>
    <a class="btn btn-primary " routerLink="/home/propertyregister-form">Back</a>
</div>
<span class="clearfix"></span>
</div>

<div class="table-responsive">
  <table class="table table-striped grid">
      <thead>
        <tr>
          <td>Sl No.</td>
          <td>Mobile No.</td>            
          <td>Date</td>
          <td>Time</td>
          <td>SMS Content</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>8877445566</td>
          <td>10-04-2018</td>
          <td>10:00 PM</td>
          <td></td>
        </tr>
      </tbody>
  </table>
</div>
</form>
</div>