<div class="wrapper">
  <div class="themeheading title">
    Add Leave Encashment Sanction
    <button class="btn btn-primary float-right" [routerLink]="['/home/emp-claims/leave-encash-sanction']">Back</button>
    <span class="clearfix"></span>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <label>Encashment No :</label>
      </div>
      <div class="col-md-4">
        <label for="">Date : <span>12-11-2019</span></label>
      </div>
      <div class="col-md-4">
        <label for="">Status : <span>Pending</span></label>
      </div>
    </div>
    <div class="title rowmarginfix themeheading">
      Employee Details
    </div>
    <div class="row">
      <div class="col-md-4">

          <label for=""> Division Code :</label>
          
      </div>
      <div class="col-md-4">
       
          <label for="">Emp Code :</label>
          
      </div>
      <div class="col-md-4">
        <label for="">Name : </label> &nbsp; <span class="name">Akash</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ">
        <label for="">Division : </label> &nbsp; <span class="name">Banglore</span>
      </div>
      <div class="col-md-4">
        <label for="">Department : </label> &nbsp; <span class="name">Admin</span>
      </div>
      <div class="col-md-4">
        <label for="">Designation : </label> &nbsp; <span class="name">S.D.A</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="">Employee Category : </label> &nbsp; <span class="name">Officials</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Group : </label> &nbsp; <span class="name">Group-B</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Type : </label> &nbsp; <span class="name">Permanent</span>
      </div>
    </div>

    <div class="title rowmarginfix themeheading">
      Encashment Details
    </div>

    <div class="border-view">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td class="text-center">Sl No.</td>
              <td class="text-center">Leave Type</td>
              <td class="text-center">Encashment Leave Available</td>
              <td class="text-center">No. of leave to Encash</td>
              <td class="text-center">Encashment Amount </td>
              <td class="text-center">Note View </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1.</td>
              <td class="text-center">dfnhbtyekm</td>
              <td class="text-center">9844</td>
              <td class="text-center">25</td>
              <td class="text-center">
                984855
              </td>
              <td class="text-center">
                <a href="#">
                  <i class=" fa fa-lg fa-eye themecolor"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="title themeheading rowmarginfix">
      Sanction Details
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Sanctioned : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio1" name="exampleRadios1">
            <label for="radio1">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio2" name="exampleRadios1">
            <label for="radio2">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Cancel : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio3" name="exampleRadios2">
            <label for="radio3">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio4" name="exampleRadios2">
            <label for="radio4">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Sanctioned By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Sanctioned Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Canceled By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Canceled Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label for="">Remarks</label>
          <textarea name="" id="" cols="30" rows="10" class="custom-field"></textarea>
        </div>
      </div>
    </div>

    <br>
    <div class="text-center">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-primary">Cancel</button>
    </div>

  </div>
</div>