<div class="wrapper">
  <div class="container-fluid">
    <div class="title rowmarginfix themeheading">
      Complaints Registration Sanction
      <button class="btn btn-primary float-right"
        [routerLink]="['/home/dept-enquiry/complaint-reg-sanction']">Back</button>
      <span class="clearfix"></span>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for=""> Complaint No : </label>
      </div>
      <div class="col-md-4">
        <div class="input-group ">
          <span for="">Date : </span> <span> 11/11/18 </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group ">
          <span for="">Status : Pending</span>
        </div>
      </div>
    </div>

    <div class="title themeheading rowmarginfix">
      DGO's Details
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for=""> Division Code : </label>
      </div>
      <div class="col-md-4">
        <label for="">Emp Code :</label>
      </div>
      <div class="col-md-4">
        <label for=""> Name :</label> &nbsp; <span class="name"> Akash </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="">Division : </label> &nbsp; <span class="name">Banglore</span>
      </div>
      <div class="col-md-4">
        <label for="">Department : </label> &nbsp; <span class="name">Admin</span>
      </div>
      <div class="col-md-4">
        <label for="">Designation : </label> &nbsp; <span class="name">S.D.A</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="">Employee Category : </label> &nbsp; <span class="name">Officials</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Group : </label> &nbsp; <span class="name">Group-B</span>
      </div>
      <div class="col-md-4">
        <label for="">Employee Type : </label> &nbsp; <span class="name">Permanent</span>
      </div>
    </div>
    <br>

    <br>

    <div class="title rowmarginfix themeheading">
      Complaint Details
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Complaint Type : </label>
      </div>
      <div class="col-md-6">
        <label for="">Initiated By :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for=""> Complaint Date :</label>
      </div>
      <div class="col-md-6">
        <label for=""> Nature of Complaint :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for=""> Complainee's Name :</label>
      </div>
      <div class="col-md-6">
        <label for=""> Complainee's Address :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for=""> Complainee's Contact No. :</label>
      </div>
      <div class="col-md-6">
        <label for=""> Complaint Addressed to :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a> View Complaint Document </a>
      </div>
      <div class="col-md-6">
        <label for="">Description / Details :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Remarks :</label>
      </div>
    </div>

    <div class="title rowmarginfix themeheading">
      Witness Details
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label for="">Witness Name : </label>
      </div>
      <div class="col-md-4">
        <label for="">Witness Address:</label>
      </div>
      <div class="col-md-4">
        <label for=""> Witness Contact No :</label>
      </div>
    </div>

    <div class="title themeheading rowmarginfix">
      Sanction Details
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Sanctioned : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio1" name="exampleRadios1">
            <label for="radio1">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio2" name="exampleRadios1">
            <label for="radio2">No</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-inline">
          <div class="form-group mb-2">
            <label for="" style="color: blue;">Cancel : </label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio3" name="exampleRadios2">
            <label for="radio3">Yes</label>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="radio" class="form-control" id="radio4" name="exampleRadios2">
            <label for="radio4">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Sanctioned By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Sanctioned Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="">Canceled By :</label>
      </div>
      <div class="col-md-6">
        <label for="">Canceled Date :</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label for="">Remarks</label>
          <textarea name="" id="" cols="30" rows="10" class="custom-field"></textarea>
        </div>
      </div>
    </div>


    <br>
    <div class="justify-content-center d-flex">
      <button class="btn btn-primary">Save</button> &nbsp;
      <button class="btn btn-primary">Cancel</button>
    </div>

  </div>
</div>