<div class="wrapper">
  <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm,itemsPerPage,1)">
    <div class="title themeheading">{{title}}
      <div class="float-right">
        Items per page:
        <select name="SearchRows" #SearchRows="ngModel" [(ngModel)]="itemsPerPage" class="noofpage"
          (change)="itemsPerPageChanged(itemsPerPage, 1)">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <!-- <a class="btn btn-primary " [routerLink]="['/home/transfer/transferout-form']">Add</a> -->
      </div>
      <span class="clearfix"></span>
    </div>
    <div class="searchbar">
      <div class="container">
          <div class="row">
              <div class="col-md-1">
                  <label>Search</label>
              </div>
              <div class="col-md-4">
                  <select name="SearchCriteria" #SearchCriteria="ngModel" [(ngModel)]="s.SearchCriteria"
                      class="form-control" required>
                      <option [ngValue]="undefined" selected>---Select---</option>
                      <option value="DOC_CODE">Encashment No</option>
                      <option value="DOC_DATE">Date</option>
                      <option value="EMP_EMPLOYEE_CODE">Employee Id</option>
                      <option value="EMP_FIRST_NAME">Employee Name</option>
                      <option value="DI_District">District</option>
                      <option value="Department_Name">Department</option>
                   
                     
                  </select>
                  <div *ngIf="SearchCriteria.invalid && (SearchCriteria.dirty || SearchCriteria.touched)"
                      class="error-msg">
                      <div *ngIf="SearchCriteria.errors.required">Search criteria is required</div>
                  </div>
              </div>
              <div class="col-md-4">
                  <input type="text" name="SearchText" #SearchText="ngModel" [(ngModel)]="s.SearchText"
                      class="form-control" placeholder="Search.." required>
                  <div *ngIf="SearchText.invalid && (SearchText.dirty || SearchText.touched)" class="error-msg">
                      <div *ngIf="SearchText.errors.required">Search text is required</div>
                  </div>
              </div>
              <div class="col-md-3">
                  <button class="btn btn-default" type="submit">Search</button>
                  <button class="btn btn-default" type="reset"
                      (click)="GetAllMedicalDetialsSanc(itemsPerPage, 1,m.DivisionId)">Clear</button>
              </div>
          </div>
      </div>
  </div>  
    <br>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <label for=""> Division </label>
            <select class="custom-field" [(ngModel)]="m.DivisionId" #DivisionId="ngModel" name="DivisionId"
            (change)="GetAllMedicalDetialsSanc(itemsPerPage, 1,m.DivisionId)" disabled>
             <option [value]="undefined" selected>---Select---</option>
             <option [value]="d.DI_Id" *ngFor="let d of Districtlist;">
               {{d.DI_District}}
             </option>
           </select>
          </div>
        </div>
      </div>
    </div>    
 
    <div class="table-responsive" id="auction-grid">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <td rowspan="2">Sl No.</td>
              <td rowspan="2">Reimbursement No.</td>
              <td rowspan="2">Reimbursement Date</td>   
              <td colspan="4" class="text-center" >Employee Details</td>
              <td colspan="4" class="text-center">Approval/Rejection Procedure </td>
            </tr>
            <tr>
              <td >Employee Id</td>
              <td >Employee Name</td>
              <td>Division</td>
              <td>Department</td>      
              <td>Status</td>
              <td>View</td>
              <td>Approve</td>
              <td>Reject</td>
            </tr>
          </thead>
          <tbody>     
            <tr *ngFor="let m of Medicallist ; let i=index"
            [class.Blue]="m.DOC_STATUS == 'A'"
            [class.Red]="m.DOC_STATUS == 'J'"
            [class.DGreen]="m.DOC_STATUS == 'S'"  [class.Green]="m.DOC_STATUS == 'G'">             
              <td>{{(i+1)}}.</td>
              <td>{{m.DOC_CODE}}</td>
              <td>{{m.DOC_DATE  | date:'dd-MM-yyyy'}}</td>
              <td>{{m.EMP_EMPLOYEE_CODE}}</td>
              <td>{{m.EMP_FIRST_NAME}}</td>
              <td>{{m.DI_District}}</td>  
              <td>{{m.Department_Name}}</td>  
              <td *ngIf="m.DOC_STATUS=='A'">Approved</td>  
              <td *ngIf="m.DOC_STATUS=='S'">Sanctioned</td> 
              <td *ngIf="m.DOC_STATUS=='J'">Rejected</td>                
          <td class="text-center">
              <a (click)="GotoView(m.LVENCASH_ID)">
                  <i class="fa fa-lg fa-eye themecolor"></i>
                </a>
          </td>
          <td>
              <div class="form-check form-check-inline" *ngIf="m.DOC_STATUS != S">
                <input class="form-check-input" (change)="handleChange1(m.LVENCASH_ID)" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Sanction</label>
              </div>
              <div>
                <span *ngIf="m.DOC_STATUS == S">Sanctioned</span>
              </div>
            </td>
            <td>
              <div class="form-check form-check-inline" *ngIf="m.DOC_STATUS != J">
                <input class="form-check-input" data-toggle="modal"  (change)="handleChange2(m.REMARKS,m.LVENCASH_ID)"
                  data-target=".bd-example-modal-xl" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Reject</label>
              </div>
              <div>
                <span *ngIf="m.DOC_STATUS == J">Rejected</span>
              </div>
            </td>
  
        </tr>
      
          </tbody>
        </table>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-11">
              <pagination-controls class="my-pagination" id="pagination" (pageChange)="pageChanged($event)" maxSize="9"
                directionLinks="true" autoHide="false" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>
            <div class="col-md-1">
              Total:
              <span>{{totalItems}}</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reimbursement</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for=""> Remarks </label>
                      <textarea name="REMARKS" placeholder="Not As per Procedure,Reject" maxlength="50" [(ngModel)]="m.REMARKS"
                      #REMARKS="ngModel" [disabled]="mode=='View'" class="custom-field"></textarea>
                    </div>
                  </div>
                </div>
                <br>
                <div class="text-center">
                  <button class="btn btn-primary" (click)="save(m.REMARKS,m.LVENCASH_ID)">Save</button>
                  <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>