<div class="tab-inside-content ">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Sl.No.</th>
          <th>Deduction Details</th>
          <th>Applicable(Yes/No)</th>
          <th>Percentage(%)</th>
          <th>Applicable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Provident Fund(PF)</td>
          <td > Y </td>
          <td> 12% </td>
          <td> <input type="checkbox" checked> </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Employees' Pension Scheme(EPS)</td>
          <td > Y </td>
          <td> 12% </td>
          <td> <input type="checkbox" checked> </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Labour Welfare Fund(LWF)</td>
          <td>N </td>
          <td> 11% </td>
          <td> <input type="checkbox" checked> </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Employees' State Insurance(ESI)</td>
          <td> Y </td>
          <td> 5% </td>
          <td> <input type="checkbox" checked> </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Professional Tax(PT)</td>
          <td > Y </td>
          <td> 9% </td>
          <td> <input type="checkbox" checked> </td>
        </tr>
        <tr>
          <td>6</td>
          <td>Income Tax(IT)</td>
          <td > Y </td>
          <td> 10% </td>
          <td> <input type="checkbox" checked> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>