<div class="card-container">
  <fieldset class="fieldset">
    <legend class="legend" style="color: blue;">Enter New Password</legend>
  <div class="card" style="width: 35rem;">
    <form #confirmForm="ngForm" name="confirmForm">
      <div class="card-body">
        <!-- <h5 align="center"
          style="font-size: 2rem; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: blue; "
          class="card-title">
          Enter New Password
        </h5> -->
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <input [type]="showPassword ? 'text' : 'Password'" class="custom-field" placeholder=" " name="Password"
                [(ngModel)]="Password" #passwordField="ngModel" required minlength="8"
                pattern="(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-zA-Z]).*" autocomplete="new-password"
                (input)="validatePassword()" />
              <label>
               Password
                <span class="mandatory">*</span>
              </label>
              <button type="button" (click)="togglePasswordVisibility()">
                <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
              <div *ngIf="passwordField.invalid && passwordField.touched">
                <small class="text-danger" *ngIf="passwordField.errors?.required">Password is required</small>
                <small class="text-danger" *ngIf="passwordField.errors?.minlength">Password must be at least 8
                  characters long</small>
                <small class="text-danger" *ngIf="passwordField.errors?.pattern">Password must include at least one
                  letter, one number, and one special character</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <input [type]="showPassword1 ? 'text' : 'password'" class="custom-field" placeholder=" "
                name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" required
                autocomplete="new-password"
                [ngClass]="{'is-invalid': Password !== confirmPassword && confirmPasswordField.touched}" />
              <label> 
                Confirm Password
                <span class="mandatory">*</span>
              </label>
              <button type="button" (click)="togglePasswordVisibility1()">
                <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
              <div *ngIf="confirmPasswordField.touched && Password !== confirmPassword">
                <small class="text-danger">Passwords must match</small>
                <small class="text-danger">Password is required</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="text-center">
        <button class="btn btn-primary" type="submit" [disabled]="confirmForm.invalid || Password !== confirmPassword"  (click)="UpdatePasswordSuperAdmin(confirmForm)">Next</button>
      </div>
  <!-- </div> -->
  </form>
  </div>
</fieldset>
</div>